/**
 * @Description: 
 * @author: 小红
 * @date: 2022/11/25
 * @fileName: style 
 */
body {
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  scroll-behavior: smooth;
  font-family: "Butterfly Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
  background-color: var(--body-bg-color);
}


::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color)
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  color: #fff;
  background-color: var(--selection-bg-color);
}


