/**
 * @Description: 变量
 * @author: 小红
 * @date: 2022/11/25
 * @fileName: theme
 */

html {
  --font-color: #4c4948;
  --font-size: 15px;

  --btn-color: #fff;
  --btn-bg-color: var(--theme);
  --btn-hover-color: #ff7242;


  &[data-theme=dark] {

    --btn-color: rgba(255,255,255,0.7);
    --btn-bg-color: #1f1f1f;
    --btn-hover-color: #787878;

  }
}

