<layout
  th:replace="~{core/layout :: layout (
  page = 'categories',
  title = ${site.title} + ' - ' + '分类',
  css_pin = ~{::css_pin},
  js_pin = ~{::js_pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* css */-->
  <th:block th:fragment="css_pin">
    <style th:inline="css">
      .above {
        --above-background: /*[(${'url('+theme.config.categories.above_background+')'})]*/ transparent;
      }
    </style>
  </th:block>

  <!--/* js */-->
  <th:block th:fragment="js_pin">
    <script id="categoriesScript" th:inline="javascript">
      window.THEME_CONFIG.categories =  /*[[${categories}]]*/ [];
      window['categoriesScript']?.remove();
    </script>
  </th:block>


  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.categories.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{modules/nav}"/>

      <!--第一屏内容-->
      <section class="above" th:if="${theme.config.categories.enable_above}">
        <div class="above-info">
          <h1 class="above-title">分类</h1>
        </div>
      </section>
    </header>
  </th:block>


  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content card" th:with="noData = ${not #lists.isEmpty(categories)}">
      <th:block th:if="${noData}">
        <div class="chart"></div>
        

      </th:block>

      <th:block th:unless="${noData}" th:insert="~{modules/components:: emptyData(false)}"></th:block>
    </section>
    <th:block th:replace="~{modules/aside::aside_common}"/>
  </th:block>
</layout>