<layout
  th:replace="~{core/layout :: layout (
  page = 'index',
  title = ${site.title +' - '+ site.subtitle},
  pin = ~{::pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>


  <!--/* pin */-->
  <th:block th:fragment="pin">
    <style th:inline="css">
      .above {
        background-image: /*[(${'url('+theme.config.index.above_background+')'})]*/ none;
      }
    </style>

    <script id="pageScript" th:inline="javascript">
      Object.assign(window.MainApp.conf, {
        typewriter_custom_text: /*[[${theme.config.index.typewriter_custom_text}]]*/ '',
        enable_typewriter_random_text: /*[[${theme.config.index.enable_typewriter_random_text}]]*/ '',
        typewriter_random_api: /*[[${theme.config.index.typewriter_random_api}]]*/ '',
        typewriter_api_value_format: /*[[${theme.config.index.typewriter_api_value_format}]]*/ '',
      });
    </script>

    <th:block th:replace="~{modules/pagination::in(${posts})}"/>
  </th:block>


  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.index.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{common/nav}"/>

      <!--/* 第一屏内容 */-->
      <section class="above" th:if="${theme.config.index.enable_above}">
        <div class="above-info">
          <h1 class="above-title" th:text="${site.title}"></h1>
          <div class="above-subtitle">
            <span class="above-subtitle--text"></span>
          </div>
        </div>
      </section>
    </header>
  </th:block>


  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content">
      <th:block th:replace="~{common/components:: list(${posts.items},${theme.config.index.post_layout})}"/>
    </section>
    <th:block th:replace="~{common/aside::aside_common}"/>
  </th:block>
</layout>