<layout
  th:replace="~{core/layout :: layout (
  page = 'moments',
  title = ${site.title} + ' - ' + '瞬间',
  css_pin = ~{::css_pin},
  js_pin = ~{::js_pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* css */-->
  <th:block th:fragment="css_pin">
    <style th:inline="css">
      .above {
        --above-background: /*[(${'url('+theme.config.index.above_background+')'})]*/ '';
      }
    </style>
  </th:block>

  <!--/* js */-->
  <th:block th:fragment="js_pin">

  </th:block>

  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.index.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{modules/nav}"/>

      <!--第一屏内容-->
      <section class="above" th:if="${theme.config.index.enable_above}">
        <div class="above-info">
          <h1 class="above-title">瞬间</h1>
        </div>
      </section>
    </header>
  </th:block>


  <!--/* 內容 */-->
  <th:block th:fragment="main">

    <section class="content card animate__animated animate__fadeIn">
      <ul class="list">
        <li class="item" th:each="moment : ${moments.items}" th:with="content=${moment.spec.content}">
          <div class="h" th:if="${not #strings.isEmpty(content.html)}" th:utext="${content.html}"></div>

          <div class="medium">
            <th:block th:if="${not #lists.isEmpty(content.medium)}" th:each="momentItem : ${content.medium}">
              <img th:if="${momentItem.type.name == 'PHOTO'}" th:src="${momentItem.url}"/>
              <video controls th:if="${momentItem.type.name == 'VIDEO'}" th:src="${momentItem.url}"></video>
              <audio th:if="${momentItem.type.name == 'AUDIO'}" th:src="${momentItem.url}"></audio>
            </th:block>
          </div>

          <div class="in"></div>
        </li>
      </ul>
    </section>
    <th:block th:replace="~{modules/aside::aside_common}"/>
  </th:block>
</layout>