<layout
  th:replace="~{views/layout :: layout (
  page = 'photos',
  title = ${singlePage.spec.title} ,
  pin = ~{::pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* pin */-->
  <th:block th:fragment="pin">
    <style th:inline="css">
      .above {
        background-image: /*[(${'url('+theme.config.index.above_background+')'})]*/ none;
      }
    </style>
  </th:block>


  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.index.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{views/nav}"/>

      <!--第一屏内容-->
      <section class="above" th:if="${theme.config.index.enable_above}">
        <div class="above-info">
          <h1 class="above-title">图库</h1>
        </div>
      </section>
    </header>
  </th:block>


  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content ">
      <div class="head card">
        <div class="title">图库分类</div>
        <ul class="bts">
          <li th:each="group : ${groups}" th:text="${group.spec.displayName}" class="bts-item"></li>
        </ul>
      </div>
      <ul class="imgs">
        <li th:each="photo : ${photoFinder.listBy(groups[0].metadata.name)}">
          <img th:src="${photo.spec.url}" th:alt="${photo.spec.displayName}" width="280">
        </li>
      </ul>
    </section>
    <th:block th:replace="~{views/aside::common}"/>
  </th:block>
</layout>