<layout
  th:replace="~{views/layout :: layout (
  page = 'photos',
  title = ${singlePage.spec.title} ,
  pin = ~{::pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* pin */-->
  <th:block th:fragment="pin">
    <style th:inline="css">
      .above {
        background-image: /*[(${'url('+theme.config.index.above_background+')'})]*/ none;
      }
    </style>
  </th:block>


  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.index.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{views/nav}"/>

      <!--第一屏内容-->
      <section class="above" th:if="${theme.config.index.enable_above}">
        <div class="above-info">
          <h1 class="above-title">图库</h1>
        </div>
      </section>
    </header>
  </th:block>


  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content">
      1111
    </section>
    <th:block th:replace="~{views/aside::common}"/>
  </th:block>
</layout>