<layout
  th:replace="~{core/layout :: layout (
  page = 'tag',
  title = ${site.title} + ' - ' + '标签',
  pin = ~{::pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* pin */-->
  <th:block th:fragment="pin">
    <style th:inline="css">
      .above {
        background-image: /*[(${'url('+theme.config.tags.above_background+')'})]*/ none;
      }
    </style>

    <th:block th:replace="~{modules/pagination}"/>
  </th:block>

  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.tags.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{common/nav}"/>

      <!--/* 第一屏内容 */-->
      <section class="above" th:if="${theme.config.tags.enable_above}">
        <div class="above-info">
          <h1 class="above-title">标签</h1>
        </div>
      </section>
    </header>
  </th:block>



  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content">
      <th:block th:replace="~{common/components:: list(${posts.items},'list')}"/>
    </section>
    <th:block th:replace="~{common/aside::aside_common}"/>
  </th:block>
</layout>