<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout (
  page = 'tag',
  title = ${theme.config.tags.custom_title +' - '+tag.spec.displayName},
  head = ~{::head},
  above = ~{::above},
  content = ~{::content},
  js = ~{::js}
  )}">
>
<th:block th:fragment="head">
  <style th:inline="css"
         th:with="above_background= ${is_body_bg_http ? '' : 'url(' + theme.config.tags.above_background + ')'}">
    .above {
      --above-background: /*[(${above_background})]*/ transparent;
    }
  </style>
  <link rel="stylesheet" th:href="${assets_link+'/css/tag.min.css' + theme_version}">
</th:block>

<section
  th:fragment="above"
  th:if="${theme.config.tags.enable_above}"
  class="above relative w-100">
  <h1 class="absolute above-public-title font-weight-400 margin-0 left-0 right-0 text-center"
      th:text="${theme.config.tags.custom_title +' - '+tag.spec.displayName}"></h1>
</section>

<th:block th:fragment="content">
  <section class="container" th:with="noData = ${not #lists.isEmpty(posts.items)}">
    <th:block th:if="${noData}">
      <th:block th:replace="~{modules/public:: posts(${posts.items},${theme.config.tags.post_layout})}"></th:block>
      <th:block th:replace="~{modules/public:: pagination(${posts},${tag.status.permalink})}"></th:block>
    </th:block>

    <th:block th:unless="${noData}" th:insert="~{modules/public:: emptyData('暂无文章~',true)}"></th:block>
  </section>

  <th:block th:replace="~{modules/public:: aside}"></th:block>
</th:block>

<th:block th:fragment="js">
  <script type="text/javascript" th:src="${assets_link+'/js/tag.min.js' + theme_version}"></script>
</th:block>
</html>