<layout
  th:replace="~{modules/layout :: layout (
  page = 'tag',
  title = ${site.title} + ' - ' + '标签',
  pin = ~{::pin},
  header = ~{::header},
  main = ~{::main}
  )}"
>
  <!--/* pin */-->
  <th:block th:fragment="pin">
    <script id="pageScript" th:inline="javascript">
      Object.assign(window.MainApp.conf, {
        //第一屏
        enable_above: /*[[${theme.config.tags.enable_above}]]*/ '',
        above_background: /*[[${theme.config.tags.above_background}]]*/ '',
        // 分页
        nextUrl: /*[[${posts.nextUrl}]]*/ {},
        prevUrl: /*[[${posts.prevUrl}]]*/ {},
        page: /*[[${posts.page}]]*/ {},
        size: /*[[${posts.size}]]*/ {},
        total: /*[[${posts.total}]]*/ {},
        totalPages: /*[[${posts.totalPages}]]*/ {},
        hasPrevious: /*[[${posts.hasPrevious()}]]*/ {},
        hasNext: /*[[${posts.hasNext()}]]*/ {},
      });
    </script>
    
  </th:block>

  <!--/* header */-->
  <th:block th:fragment="header">
    <header th:class="${not theme.config.tags.enable_above ? 'header dp' : 'header'}">
      <!--/* 导航栏 */-->
      <th:block th:replace="~{modules/nav}"/>

      <!--/* 第一屏内容 */-->
      <section class="above" th:if="${theme.config.tags.enable_above}">
        <div class="above-info">
          <h1 class="above-title">标签</h1>
        </div>
      </section>
    </header>
  </th:block>



  <!--/* 內容 */-->
  <th:block th:fragment="main">
    <section class="content">
      <th:block th:replace="~{modules/components:: list(${posts.items},'list')}"/>
    </section>
    <th:block th:replace="~{modules/aside::common}"/>
  </th:block>
</layout>