/**
 * @date: 2024/1/24
 * @author: 小红
 * @fileName: nav
 * @Description:导航栏
 */

@use "../core/util";

@include util.useThemeVar((
));

.nav {

  @keyframes nav-down {
    0% {
      opacity: 0;
      transform: translate3d(0, -50px, 0)
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
  }

  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;
  padding: 0 36px;
  font-size: 1.15rem;
  animation: nav-down 1.2s;
  z-index: 90;
  transition: .5s;

  @include util.useResponsive(util.$w-md) {
    padding: 0 16px;
  }

  &-title {
    flex: 1;
    transition: color .5s;
    color: var(--nav-font-color);

    .link {
      font-weight: 700;
      //cursor: var(--cursor-pointer);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
    }
  }


  &.style {
    position: fixed;
    z-index: 91;
    top: -60px;
    background-color: var(--nav-scroll-background-color);
    box-shadow: var(--nav-scroll-shadow);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  }


  &.active {
    transition: .5s;
    transform: translate3d(0, 100%, 0);
  }

  &-do {
    @include util.flex-center;
    flex-direction: row;
    color: var(--nav-font-color);

    .link {
      display: block;
      position: relative;
      height: 60px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
      font-size: .85em;
      line-height: 60px;
      text-align: center;
    }

    //操作项
    .controls {
      display: flex;
      //cursor: var(--cursor-pointer);
      @include util.flex-center;

      .toggle {
        display: none;
      }

      @include util.useResponsive(util.$w-md) {
        .link {
          padding: 0 2px;
          font-size: 1em;

          .name {
            display: none;
          }
        }

        .toggle {
          display: block;
          margin-left: 7px;
        }
      }
    }

    //菜单
    .menu {
      @include util.flex-center;

      @include util.useResponsive(util.$w-md) {
        display: none;
      }

      &-item {
        margin-left: 15px;
      }

    }

  }


  &:is(.style) {
    .nav-title, .nav-do {
      color: var(--nav-active-font-color);

      .link {
        text-shadow: none;
      }
    }
  }
}
 
 
