::after, ::before,
body, div, span,
h1, h2, h3, h4, h5, h6, ul, ol, li,
a, img, figure, figcaption,
table, tbody, thead, tfoot, th, td, dl, dt, dd,
blockquote, pre, code, hr,
section, article, header, nav, figure, figcaption, main, aside, footer,
audio, video, summary, form, label {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: inherit;
  -webkit-tap-highlight-color: transparent;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  text-decoration: underline dotted
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b, strong {
  font-weight: bolder
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

button, select {
  text-transform: none
}

menu, ol, ul {
  list-style: none
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle
}