/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: variable
 * @Description: 侧边样式
 */
@use "../core/util";

.side {
  //侧边菜单
  &-bar {

    
  }

  //侧边小部件 按钮
  &-btn {
    right: -48px;
    bottom: 40px;
    opacity: 0;
    transition: opacity .5s, transform .5s;
    position: fixed;
    z-index: 80;

    &.active {
      opacity: 1;
      transform: translateX(-58px)
    }

    & > .button {
      margin: .5rem 0;
      width: 35px;
      height: 35px;
      font-size: .9rem;
      transition: .3s ease 0s;
    }
  }

}