/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: style
 * @Description: 基础样式
 */
@tailwind base;
@tailwind utilities;
@import "theme";
body {
  font-family: "Butterfly Font", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
  font-size: 14px;
  line-height: 2;
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--body-background-color);
  color: var(--body-text-color);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: #49b1f5;
}

::-webkit-scrollbar-track {
  background-color: transparent
}
.btn {
  background: var(--theme);
  color: var(--btn-text-color);

  &:hover {
    background: var(--btn-hover-background-color);
    color: var(--btn-hover-text-color);
  }
}

@import "side";