/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: variable
 * @Description: 主题变量
 */

$themes: (
  body:(
    text-color:(
      rgb(0, 0, 0),
      rgba(255, 255, 255, 0.7)
    ),
  ),
  header:(
  ),
  footer:(
  ),
  btn:(
    text-color:(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7)
    ),
    background-color:(
      var(--theme),
      var(--theme)
    ),
  )
);

html {
  &[data-theme='light'] {
    @each $key, $value in $themes {
      @each $k, $v in $value {
        --#{$key}-#{$k}: #{nth($v,1)};
      }
    }
  }
  &[data-theme='dark'] {
    @each $key, $value in $themes {
      @each $k, $v in $value {
        --#{$key}-#{$k}: #{nth($v,2)};
      }
    }
  }
}

