/**
 * @Description: 
 * @author: 小红
 * @date: 2022/11/25
 * @fileName: style 
 */
body {
  font-family: "Butterfly Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
  font-size: 14px;
  color: var(--font-color);
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  background: var(--body-bg);
  cursor: var(--cursor-default);
}

#Butterfly {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}


::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color)
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  color: #fff;
  background-color: var(--selection-bg-color);
}

.btn-effect {
  font-size: .92rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  border-radius: 10px;
  transition: 0.30s ease 0s;


  &:hover, &:focus {
    box-shadow: 0 0.1rem 0.8rem var(--theme);
  }
}

@keyframes InUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 120px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.InUp {
  animation: InUp .35s;
}
