/**
 * @Description: 左右吸附小部件
 * @author: 小红
 * @date: 2022/12/11
 * @fileName: adsorption
 */

.adsorption {
  right: -48px;
  bottom: 40px;
  opacity: 0;

  &.active {
    opacity: 1;
    transform: translateX(-58px);
    
  }

  > button {
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border-radius: 10px;
    font-size: 16px;
    line-height: 35px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--btn-hover-color);
    }
  }
}