/**
 * @Description: 侧边栏
 * @author: 邓红军
 * @date: 2022/12/20
 * @fileName: aside
 */


@keyframes aside-notice-svg-animation {
  0%, to {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }
}

.aside {
  > section {
    padding: 1rem 1.2rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &-user {
    > .avatar {
      width: 110px;
      height: 110px;
      border-radius: 70px;
      transition: filter 375ms ease-in .2s, transform .3s;

      &:hover {
        filter: brightness(1.2);
        transform: rotate(360deg);
      }
    }

    > .name {
      font-size: 1.50rem;
    }

    > .data {
      display: table;
      margin: 14px 0 4px;
      table-layout: fixed;

      .item {
        display: table-cell;
      }

      .headline {
        font-size: 1rem;
      }

      .num {
        font-size: 1.4rem;
        color: var(--text-obs-color);
      }

    }

    > .button {
      background-color: var(--btn-bg-color);
      color: var(--btn-color);
      line-height: 2.4;
      border-radius: 15px;
      transition: color .2s, background-color .2s;
      
      &:hover {
        background-color: var(--btn-hover-color);
      }
    }

    > .links {
      margin: 15px 0 -6px;

      svg {
        display: inline-block;
        width: 25px;
        height: 25px;
      }
    }
  }

  &-title {
    padding-bottom: 0.3rem;
    font-size: 1.05rem;
  }

  &-notice {
    .aside-title svg {
      animation: aside-notice-svg-animation .8s linear infinite;
    }

    > .content {
    }
  }
  
}