/**
 * @Description: 卡片
 * @author: 小红
 * @date: 2022/12/21
 * @fileName: card
 */

.card {
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
  box-shadow: var(--card-box-shadow);
}