/**
 * @Description: main
 * @author: 小红
 * @date: 2022/12/9
 * @fileName: main
 */


.main {
  max-width: var(--main-max-width);
  padding: 2rem 15px;
  flex: 1;
  height: 2000px;

  
  &.aside-left {
    flex-direction: row;
  }

  &.aside-right {
    flex-direction: row-reverse;
  }

  &:is(.aside-left) .aside {
    margin-left: 18px;
  }

  &:is(.aside-right) .aside {
    margin-right: 18px;
  }


}