/**
 * @Description: 文章列表模块
 * @author: 小红
 * @date: 2022/12/22
 * @fileName: posts
 */

.posts {
  .p-item {
  }


  //列表
  &.list .p-item {
    height: 18rem;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .cover {
      width: 45%;
      height: 100%;

      img {
        transition: filter 375ms ease-in .2s, transform .6s;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
        }
      }

      //&::after {
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(255, 255, 255, .5);
      //  content: '';
      //  transition: transform .2s;
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
      //}
      //
      //&:hover::after {
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 180%, 0);
      //}

    }

    .info {
      padding: 0 40px;

      &-title {
        color: var(--text-obs-color);
        font-size: 1.72rem;
        line-height: 1.4;
        transition: color .2s;

        &:hover {
          color: var(--theme);
        }
      }

      &-wrap {
        margin: 6px 0;
        font-size: 90%;

        .wp {
          &.category {
            i {
              vertical-align: -0.12rem;
            }

            .cy-link {
              &:hover {
                color: var(--theme);
              }

            }

            .point:last-child {
              display: none;
            }
          }
        }


        .fk {
          margin: 0 0.2rem 0 0.1rem;
        }
      }
    }

    
    .text{
      
    }

  }


  //平铺
  &.tile {

  }
}