/**
 * @Description: 文章列表模块
 * @author: 小红
 * @date: 2022/12/22
 * @fileName: posts
 */

.posts {

  //列表
  &.list > .item {
    height: 17rem;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .cover {
      width: 43%;
      height: 100%;

      &.pt-top::before {
        content: '置顶';
        position: absolute;
        left: 0;
        background: linear-gradient(135deg,#fd7a64 10%,#fb2d2d 100%);
        color: #fff;
        top: 20px;
        font-size: .5rem;
        z-index: 99;
        padding: 0 7px;
        line-height: 2;
        border-radius: 0 50px 50px 0;
      }

      
      img {
        transition: filter 375ms ease-in .2s, transform .6s;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
        }
      }

      //&::after {
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(255, 255, 255, .5);
      //  content: '';
      //  transition: transform .2s;
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
      //}
      //
      //&:hover::after {
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 180%, 0);
      //}

    }

    .info {
      padding: 0 40px;

      &-title {
        color: var(--text-obs-color);
        font-size: 1.6rem;
        line-height: 1.4;
        transition: color .2s;
        
        &:hover {
          color: var(--link-hover-color);
        }
      }

      &-wrap {
        margin: 6px 0 0;
        font-size: 95%;

        svg {
          width: .9rem;
          height: .9rem;
          color: transparent;

          path {
            stroke: var(--theme);
          }
        }

        .wp {
          &.publishTime svg {
            vertical-align: -0.15rem;
          }

          &.category {
            i {
              vertical-align: -0.12rem;
            }

            .lk {
              &:hover {
                color: var(--link-hover-color);
              }
            }

            .point:last-child {
              display: none;
            }
          }
        }


        .fk {
          margin: 0 0.2rem 0 0.1rem;
        }
      }
    }


    .text {
      line-height: 1.8;
    }

  }


  //平铺
  &.tile {

  }
}


.pagination {
  margin-top: 20px;

  .page, .prev, .next {
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-bg-color);
    margin: 0 6px;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    display: inline-block;
    transition: color .2s, background-color .2s;
    color: #99a9bf;

    &:hover {
      background-color: var(--btn-hover-color);
      color: #fff;
    }
  }

  .current {
    background-color: var(--theme);
    color: #fff;
  }
}