.header {
  height: 25rem;
}

.article {
  padding: 40px;
}

.tags_link {
  background-color: #F9EBEA;
  margin: 10px 10px;
  padding: 18px 16px;
  display: inline-flex;
  line-height: 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  color: #34495e;

  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0 rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
  overflow: hidden;

  &:hover {
    opacity: .7;
  }

  span {
    margin-left: 5px;
    margin-right: -2px;
    font-size: 0.5rem;
  }

  @keyframes shiny-btn1 {
    0% {
      transform: scale(0) rotate(45deg);
      opacity: 0;
    }
    80% {
      transform: scale(0) rotate(45deg);
      opacity: 0.5;
    }
    81% {
      transform: scale(4) rotate(45deg);
      opacity: 1;
    }
    100% {
      transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }


  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
  }
}
