/**
 * @Description: 侧边小部件基础样式
 * @author: 小红
 * @date: 2023/1/6
 * @fileName: base
 */

.adsorption {
  right: -48px;
  bottom: 40px;
  opacity: 0;

  &.active {
    opacity: 1;
    transform: translateX(-58px);

  }

  > button {
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}