<nav
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="nav"
  class="nav md:p-x-36px p-x-16px text-1.2em w-full h-[60px] flex-center justify-between absolute top-0 opacity-0 transition-[background_0.5s,transform_0.5s,opacity_0.5s] animate-fade-in-down animate-duration-1.2s animate-ease animate-forwards"
>
  <a
    href="/"
    th:text="${site.title}"
    class="site-title text-[var(--nav-font-color)] font-700 transition-[color_0.5s]"
  />

  <menu class="menu flex-center flex-row" th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
    <th:block th:each="menuItem : ${menuItems}" th:with="isChildren = ${#lists.isEmpty(menuItem.children)} ">
      <!--/* 一级*/-->
      <li th:if="${isChildren}" class="menu-item list-none">
        <a
          class="menu-link text-[var(--nav-font-color)]"
          th:href="@{${menuItem.status.href}}"
          th:target="${menuItem.spec.target?.value}"
          th:with="icon = ${#annotations.getOrDefault(menuItem,'icon','')}"
        >
          <!--          <i th:if="${!#strings.isEmpty(icon)}" th:class="${icon}"></i>-->
          <span class="name" th:text="${menuItem.status.displayName}"></span>
        </a>
      </li>
    </th:block>
  </menu>
</nav>

<header xmlns:th="https://www.thymeleaf.org" th:fragment="h(above)" class="header w-full min-h-[60px] relative">
  <th:block th:replace="~{::nav}" />

  <!--  <th:block th:replace="~{::above}" />-->

  <section
    class="above h-[100vh] bg-ccr"
    style="background-image: url('https://unpkg.com/halo-theme-butterfly/docs/above.png')"
  ></section>
</header>
