<nav
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="nav"
  class="nav h-[60px] w-full absolute flex items-center justify-between flex-nowrap select-none top-0 768:px-[1.8rem] px-[1.5rem] text-[1.15rem] z-90 transition-[opacity_0.5s,transform_0.5s] will-change-transform"
>
  <a
    href="/"
    th:text="${site.title}"
    class="text-[var(--nav-font-color)] font-700 text-shadow-[2px_2px_4px_rgba(0,0,0,0.15)] transition-[color_0.5s]"
  ></a>

  <div class="flex items-center justify-center flex-row text-[var(--nav-font-color)]">菜单</div>
</nav>

<header xmlns:th="https://www.thymeleaf.org" th:fragment="h(above)" class="header min-h-[60px] relative">
  <!--  <th:block th:replace="~{::nav}" />-->
  <!--  <th:block th:replace="~{::above}" />-->
</header>
