<nav
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="nav"
  class="nav w-full h-[60px] flex-center absolute top-0 p-x-4 text-1.2rem nav-down bg-red"
>
  12
  <!--  <a-->
  <!--    href="/"-->
  <!--    th:text="${site.title}"-->
  <!--    class="text-[var(&#45;&#45;nav-font-color)] font-700 text-shadow-[2px_2px_4px_rgba(0,0,0,0.15)] transition-[color_0.5s]"-->
  <!--  ></a>-->

  <!--  <div class="flex items-center justify-center flex-row text-[var(&#45;&#45;nav-font-color)]">菜单</div>-->
</nav>

<header xmlns:th="https://www.thymeleaf.org" th:fragment="h(above)" class="header w-full min-h-[60px] relative">
  <th:block th:replace="~{::nav}" />
  <!--  <th:block th:replace="~{::above}" />-->

  <section
    class="above h-[100vh] bg-ccr"
    style="background-image: url('https://unpkg.com/halo-theme-butterfly/docs/above.png')"
  ></section>
</header>
