<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:with="
     assets_link = ${theme.config.loading.source[theme.config.loading.source.type]},
     param_prefix = ${#strings.containsIgnoreCase(theme.config.loading.img.random_link,'?') ? '&' : '?'}
  "
  th:fragment="layout (page,title,css_pin,js_pin,main)"
>
  <!DOCTYPE html>
  <html lang="en" data-color-scheme="light"  th:with="isDev = ${true ? #dates.createNow().time : ''} ">
  <head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover,maximum-scale=4">
    <meta name="author" th:content="${site.title}">
    <meta name="site" th:content="${site.url}">
    <meta name="description" th:content="${site.subtitle}"/>
    <meta property="og:keywords" th:content="${site.seo.keywords}">
    <meta property="og:description" th:content="${site.subtitle}">
    <meta property="og:site_name" th:content="${site.title}">
    <meta property="og:url" th:content="${site.url}">
    <meta property="og:title" th:content="${site.title}">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:type" content="article">
    <link rel="apple-touch-icon" sizes="180x180" th:href="${site.logo}">
    <link rel="canonical" th:href="${site.url}">
    <th:block th:replace="~{core/config}"/>
    <th:block th:replace="${css_pin}"/>
    <link rel="preload stylesheet" as="style" th:href="${assets_link + 'css/' + page + '.min.css?v=' + theme.spec.version}">
  </head>
  <body th:with="stats = ${siteStatsFinder.getStats()},contributor = ${contributorFinder.getContributor(theme.config.base.metadata_name)}">
  <div id="Butterfly" th:class="${page}">
    <th:block  th:replace="~{modules/header::h(${page})}"></th:block>
    <main th:class="'main ' +  ${theme.config.aside.enable ? theme.config.aside.position : '' }" th:insert="${main}"></main>
    <th:block th:replace="~{modules/footer}"/>
    <th:block th:replace="~{modules/components::side}"/>
  </div>
  <th:block th:insert="${js_pin}"/>
  <script type="text/javascript" th:src="${assets_link + 'js/' + page + '.min.js?v=' + theme.spec.version}"></script>
  </body>
  </html>
</th:block>