<script id="baseScript" th:inline="javascript">window.ThemeConfig = {
    base: /*[[${theme.config}]]*/ {},
    attrs: {},
  };
  window['baseScript'].remove();</script><style th:inline="css" th:with="body_background = ${#strings.containsIgnoreCase(theme.config.style.body_background,'http') ? 'url('+theme.config.style.body_background+') no-repeat fixed center / cover;' : theme.config.style.body_background }">:root {
    --card-border-radius: /*[(${theme.config.card.radius})]*/ 24px;
    --card-box-shadow: /*[(${theme.config.card.shadow})]*/ transparent;
    --link-hover-color: var(--theme);
  }

  html {
    --theme: #1c69ed;
    --body-background: /*[(${body_background})]*/ transparent;
    --nav-font-color: /*[(${theme.config.nav.font_color[0].light})]*/ transparent;
    --nav-active-font-color: /*[(${theme.config.nav.active_font_color[0].light})]*/ transparent;
    --nav-active-hover-font-color: /*[(${theme.config.nav.active_hover_font_color[0].light})]*/ transparent;
    --nav-active-background-color: /*[(${theme.config.nav.active_background_color[0].light})]*/ transparent;
    --nav-active-shadow: /*[(${theme.config.nav.active_shadow[0].light})]*/ transparent;
    --nav-dropdown-background-color: /*[(${theme.config.nav.dropdown_background_color[0].light})]*/ transparent;
    --nav-dropdown-font-color: /*[(${theme.config.nav.dropdown_font_color[0].light})]*/ transparent;
    --nav-dropdown-hover-font-color: /*[(${theme.config.nav.dropdown_hover_font_color[0].light})]*/ transparent;
  }

  html[data-theme=dark] {
    --theme: #ff7242;
    --body-background: rgb(15, 23, 42);
    --nav-font-color: /*[(${theme.config.nav.font_color[0].dark})]*/ transparent;;
    --nav-active-font-color: /*[(${theme.config.nav.active_font_color[0].dark})]*/ transparent;
    --nav-active-hover-font-color: /*[(${theme.config.nav.active_hover_font_color[0].dark})]*/ transparent;
    --nav-active-background-color: /*[(${theme.config.nav.active_background_color[0].dark})]*/ transparent;;
    --nav-active-shadow: /*[(${theme.config.nav.active_shadow[0].dark})]*/ transparent;
    --nav-dropdown-background-color: /*[(${theme.config.nav.dropdown_background_color[0].dark})]*/ transparent;
    --nav-dropdown-font-color: /*[(${theme.config.nav.dropdown_font_color[0].dark})]*/ transparent;
    --nav-dropdown-hover-font-color: /*[(${theme.config.nav.dropdown_hover_font_color[0].dark})]*/ transparent;
  }</style><link rel="preload stylesheet" as="style" th:if="${theme.config.style.font_family != 'null'}" th:href="${assets_link + 'font/' + theme.config.style.font_family + '.min.css'}"><link rel="preload stylesheet" as="style" th:href="${assets_link + 'plugins/fontawesome/fontawesome.min.css'}"><link rel="preload stylesheet" as="style" th:href="${assets_link + 'plugins/cursor/' + 'simple' + '.min.css?v=' + theme.spec.version}">