/**
 * @date: 2023/7/12
 * @author: 小红
 * @fileName: utils
 * @Description: 工具
 */


//媒体查询 
@mixin media-480 {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin media-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-1920 {
  @media (min-width: 1920px) {
    @content;
  }
}


//单行，省略号 
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行，省略号
@mixin ellipsis-multiline( $row:1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row; //行数
  text-overflow: ellipsis;
}


@mixin cursor($type: ('default', 'pointer', 'text', 'move', 'not-allowed')) {
  @if ($type == 'default') {
    cursor: var(--cursor-default);
  } @else if ($type == 'pointer') {
    cursor: var(--cursor-pointer);
  } @else {
    cursor: $type;
  }
}


@mixin theme($name,$light,$dark) {
  @at-root html {
    --#{$name}: #{$light};

    &[data-theme="dark"] {
      --#{$name}: #{$dark};
    }
  }
}