/**
 * @date: 2023/7/12
 * @author: 小红
 * @fileName: utils
 * @Description: 工具
 */

//主流浏览器屏幕适配的媒体查询大小
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1920px;

//媒体查询 
@mixin media($size) {
  @if $size == xs {
    @media (max-width: $screen-xs) {
      @content;
    }
  } @else if ($size == sm) {
    @media (max-width: $screen-sm) {
      @content;
    }
  } @else if ($size == md) {
    @media (max-width: $screen-md) {
      @content;
    }
  } @else if ($size == lg) {
    @media (max-width: $screen-lg) {
      @content;
    }
  } @else if ($size == xl) {
    @media (max-width: $screen-xl) {
      @content;
    }
  }
}










 
 
