/**
 * @date: 2023/1/7
 * @author: 小红
 * @fileName: media
 * @Description: 文章适配
 */
#Butterfly.post {
  @media (max-width: 1760px) {
  }

  @media (max-width: 1345px) {

  }

  @media (max-width: 1400px) {
  }

  @media (max-width: 1100px) {
  }

  @media (max-width: 1200px) {

  }

  @media (max-width: 1130px) {

  }

  @media (max-width: 1000px) {
    .aside .post-tocbot {
      display: none;
      top: auto;
      position: fixed;
      bottom: 50px;
      z-index: 200;
      max-width: 380px;
      max-height: calc(100% - 60px);
      width: calc(100% - 80px);
      transition: transform 0.3s ease-in-out;
      transform-origin: right bottom;
      right: 55px;
      background-color: #ffffff;
    }


    .adsorption > .show-tocbot  {
      display: block;
    }

  }

  @media (max-width: 992px) {

  }

  @media (max-width: 900px) {
    .post-info {
      bottom: 30px;
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .post {
      &-info {
        bottom: 22px;
        padding: 0 22px;
      }

      &-title {
        font-size: 1.8rem;
      }

      &-meta {
        font-size: 90%;

        .line {
        }
      }

      &-outDate {
        font-size: .8rem;
      }


      &-support > .content {
        flex-direction: column;
        align-items: center;
      }
    }

    .main > .container {
      padding: 1.5rem .5rem;
    }

  }

  @media (max-width: 770px) {
    .post {
      &-copyRight {
        font-size: .8rem;
        padding: 5px 8px;
      }
    }
  }

  @media (max-width: 650px) {
    .post {
      &-title {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 500px) {
  }

  @media (max-width: 375px) {

  }
}