/**
 * @date: 2023/1/8
 * @author: 小红
 * @fileName: var
 * @Description: 文章变量
 */

html {
  --post-dropdown-bg-color: #fff;
  --post-icon-bg-color: rgba(50, 50, 50, .06);

  --post-title-color: #fff;
  --post-meta-color: #eee;

  --post-toc-border-color:#cacaca;

  --post-cpt-bg-color: #f0f0f0cc;
  --post-cpt-border-color: #ebe5f83b;
}

html[data-theme="dark"] {
  --post-dropdown-bg-color: #000;
  --post-icon-bg-color: rgb(57 58 59);

  --post-title-color: rgba(255, 255, 255, 0.9);
  --post-meta-color: rgba(255, 255, 255, 0.7);

  --post-toc-border-color: rgba(255,255,255,0.2);

  --post-cpt-bg-color: rgb(33 35 37 / 90%);
  --post-cpt-border-color: rgb(33 35 37 / 90%);
}
