/**
 * @date: 2024/1/23
 * @author: 小红
 * @fileName: button
 * @Description: 按钮
 */

@use "util";

//定义变量
@include util.useThemeVar((
  button-text-color:(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.7)
  ),
  button-background-color:(
    var(--theme),
    var(--theme)
  ),
  button-hover-background-color:(
    lighten(#49b1f5, 10%),
    #fff
  )
));


@mixin button1() {
  @keyframes greenTopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
    }

    50% {
      background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
    }

    100% {
      background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
      background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
  }

  @keyframes greenBottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
    }

    50% {
      background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0;
    }

    100% {
      background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
      background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }
  }

  .button {
    @include util.flex-center;
    position: relative;
    border-radius: 10px;
    background-color: var(--theme);
    transition: 0.2s ease;
    color: var(--button-text-color);

    &:active {
      transform: scale(0.96);
    }

    &:before, &:after {
      position: absolute;
      content: "";
      width: 150%;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
      z-index: -1000;
      background-repeat: no-repeat;
    }

    &:hover:before {
      top: -70%;
      background-image: radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, var(--theme) 20%, transparent 30%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--theme) 15%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
      background-position: 50% 120%;
      animation: greenTopBubbles 0.6s ease;
    }

    &:hover::after {
      bottom: -70%;
      background-image: radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, var(--theme) 15%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%),
      radial-gradient(circle, var(--theme) 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
      background-position: 50% 0;
      animation: greenBottomBubbles 0.6s ease;
    }
  }
}


@mixin button2() {
  @keyframes button-rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  .button {
    position: relative;
    border-radius: 10px;
    background-color: var(--theme);
    color: var(--button-text-color);
    text-transform: uppercase;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);


    &:after {
      background: rgb(266 288 288 / 50%);
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.4;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }

    &:hover:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
      animation: button-rotate 0.7s ease-in-out both;
    }
  }

}

@mixin button3() {
  @keyframes slide-in-top {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .button {
    @include util.flex-center;
    position: relative;
    border-radius: 20px;
    background-color: var(--theme);
    color: var(--button-text-color);
    transition: filter 0.35s, transform 0.35s;

    &:active {
      transform: scale(0.96);
    }

    &:hover {
      filter: hue-rotate(38deg);
    }

  }
}


@include button3;