/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: utilities
 * @Description: 工具
 */

$w-sm: 640px;
$w-md: 768px;
$w-lg: 1024px;
$w-xl: 1280px;
$w-2xl: 1536px;

/**
变量
 */
@mixin useThemeVar($vars) {
  @at-root  html {
    &[data-theme='light'] {
      @each $key, $value in $vars {
        --#{$key}: #{nth($value,1)};
      }
    }

    &[data-theme='dark'] {
      @each $key, $value in $vars {
        --#{$key}: #{nth($value,2)};
      }
    }
  }
}


//$level 0 表示同级  1表示子级 
//$size 表示最大最小
@mixin useResponsive($width,$level:1,$size:max) {
  $wh: #{$size}-width;
  @if ($level == 1) {
    @at-root  #Butterfly & {
      @media ($wh: $width) {
        @content;
      }
    }
  } @else if ($level == 0) {
    @at-root  #Butterfly#{&} {
      @media ($wh: $width) {
        @content;
      }
    }
  } @else {
    @at-root  & {
      @media ($wh: $width) {
        @content;
      }
    }
  }


}


// $level  0 同级 #Butterfly.&   1 同级 &    2  子级  #Butterfly &  3子级  &
//$size 表示最大最小
@mixin useResponsiveVVVV2($width,$level:1,$size:max) {
  $wh: #{$size}-width;

  @if ($level == 0) {
    @at-root  #Butterfly#{&} {
      @media ($wh: $width) {
        @content;
      }
    }

  } @else if ($level == 1) {
    @at-root  & {
      @media ($wh: $width) {
        @content;
      }
    }
  } @else if ($level == 2) {
    @at-root  #Butterfly & {
      @media ($wh: $width) {
        @content;
      }
    }
  } @else {
    @at-root & {
      @media ($wh: $width) {
        @content;
      }
    }
  }
}


//居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 1行文字省略号
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin wh100 {
  width: 100%;
  height: 100%;
}


@mixin text-clamp($clamp:1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
}

