/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: utilities
 * @Description: 工具
 */

$w-sm: 640px;
$w-md: 768px;
$w-lg: 1024px;
$w-xl: 1280px;
$w-2xl: 1536px;

/**
变量
 */
@mixin useThemeVar($vars) {
  html {
    &[data-theme='light'] {
      @each $key, $value in $vars {
        --#{$key}: #{nth($value,1)};
      }
    }

    &[data-theme='dark'] {
      @each $key, $value in $vars {
        --#{$key}: #{nth($value,2)};
      }
    }
  }
}

//响应式
@mixin useResponsive($w) {
  @at-root  #Butterfly {
    @media (min-width: $w) {
      @content;
    }
  }
}