/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: body
 * @Description: body 一些样式
 */
@use "_util";

//定义变量
@include util.useThemeVar((
  body-text-color:(rgb(0, 0, 0), rgba(255, 255, 255, 0.7)),
));

body {
  font-family: "Butterfly Font", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
  font-size: 14px;
  line-height: 2;
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--body-background-color);
  color: var(--body-text-color);
}


#Butterfly {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
}

::-webkit-scrollbar-track {
  background-color: transparent
}

