/**
 * @date: 2024/1/16
 * @author: 小红
 * @fileName: body
 * @Description: body 一些样式
 */
@use "_util";

body {
  @include util.useThemeVar((
    body-text-color:(rgb(76, 73, 72), rgba(255, 255, 255, 0.7)),
    mask-color:(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)),
  ));

  font-family: "Butterfly Font", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
  font-size: 14px;
  line-height: 2;
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--body-background);
  color: var(--body-text-color);
}

#Butterfly {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  > .mask {
    @keyframes m_show {
      0% {
        opacity: 0
      }

      100% {
        opacity: 1;
        filter: none
      }
    }

    @keyframes m_hide {
      0% {
        opacity: 1;
        filter: none
      }

      100% {
        opacity: 0;
        display: none;
      }
    }


    position: fixed;
    display: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--mask-color);
    backdrop-filter: blur(20px) saturate(1.5);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;

    &.active {
      animation: 0.6s ease 0s 1 normal none running m_show;
    }

    &.hide {
      animation: 0.6s ease 0s 1 normal none running m_hide;
    }

  }

  img[data-lazy-src]:not(.loaded,.error,.loading) {
    filter: blur(50px) brightness(1);
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::selection {
  color: #fff;
  background-color: #00c4b6;
}

hr {
  position: relative;
  margin: 30px auto;
  border: 1px dashed var(--theme);
  width: calc(100% - 5px);
  height: 0;
  overflow: visible;

  &::before {
    font-family: "Font Awesome 6 Pro", serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    position: absolute;
    top: -10px;
    left: 5%;
    z-index: 1;
    color: var(--theme);
    content: "\f2dc";
    font-size: 18px;
    transition: 1s ease-in-out;
  }
}

a:hover {
  color: var(--link-hover-color);
}

.empty {
  @include util.flex-center;
  flex-direction: column;
  padding: 20px 5px;
  color: #888;
  text-align: center;

  &-svg {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    fill: currentColor
  }
}