@use "util.scss";
@use "theme.scss";
@import '@unocss/reset/normalize.css';
@import '@unocss/reset/sanitize/sanitize.css';
@import '@unocss/reset/sanitize/assets.css';

@include util.useThemeVar(theme.$theme-colors);

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  cursor: var(--cursor-pointer)
}

::-webkit-scrollbar-track {
  background-color: transparent
}

body {
  font-family: "Butterfly Font", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  overflow-y: overlay;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
}




