/**
 * @date: 2023/7/12
 * @author: 小红
 * @fileName: index
 * @Description: 首页
 */

@use "../base/base";

.index {
  //@include base.ellipsis();
  .header {
    .above {
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
}