/**
 * @date: 2024/1/18
 * @author: 小红
 * @fileName: index
 * @Description: 首页
 */
@use '../core';
@use "../core/util";

@use "../modules/components";

.index {
  .header .above {
    height: 100vh;

    &-info {
      top: 42%;
    }


    @include util.useThemeVar((
      above-index-subtitle-color: (#eee, rgba(255, 255, 255, 0.7)),
    ));

    &-subtitle {
      font-size: 1.72em;
      line-height: 1.5;
      color: var(--above-index-subtitle-color);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
      animation: above-title-scale 1s;

      @include util.useResponsive(util.$w-md, 0) {
        font-size: 1.15em;
      }
    }
  }

  .main {
    > .content {
      padding: 0;
    }
  }

  @include components.essayList;
}

