/**
 * @date: 2024/3/16
 * @author: 小红
 * @fileName: post
 * @Description: 文章
 */
@use '../core';
@use "../core/util";
@use "../modules/components";
@use "../modules/render";

.post {
  .header .above {
    &-info {
      padding: 0 8%;
      transition: bottom .3s, padding .3s;
      text-align: center;

      @include util.useResponsive(900px) {
        bottom: 30px;
        text-align: left;
      }

      @include util.useResponsive(util.$w-md) {
        bottom: 22px;
        padding: 0 22px;
      }
    }
  }

  //.main > .content {
  //  padding: 1.5rem 1.8rem;
  //}

  @include util.useThemeVar((
    post-title-color: (#ffffff, rgba(255, 255, 255, 0.9)),
    post-meta-color: (#eeeeee, rgba(255, 255, 255, 0.7)),
  ));

  &-title {
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--post-title-color);
    font-size: 2.2rem;
    line-height: 1.5;
    transition: font-size .3s;
    @include util.text-clamp(3);

    @include util.useResponsive(util.$w-md) {
      font-size: 1.8rem;
    }

    @include util.useResponsive(650px) {
      font-size: 1.5rem;
    }
  }

  &-meta {
    color: var(--post-meta-color);
    font-size: 95%;
    user-select: none;

    .row {
      .wp:not(:last-child):after {
        content: '|';
        margin: 0 5px;
      }

      .wp.category, .wp.tag {
        .lk:not(:last-child):after {
          content: '•';
          margin: 0 5px;
          color: var(--post-meta-color);
        }
      }

    }
  }


  //文章声明
  .statement {
    @include util.useThemeVar((
      cpy-border-color:(#ebe5f83b, rgba(33, 35, 37, 0.9)), //版权边框颜色
      cpy-background-color:(#f0f0f0cc, rgba(33, 35, 37, 0.9)), //版权背景颜色
      cpy-text-color:(#1f2d3d, rgba(255, 255, 255, 0.9)), //版权字体颜色
    ));

    & {
      margin: 25px 0;
      padding: 10px 16px;
      border: 1px solid var(--cpy-border-color);
      transition: box-shadow .2s, transform .2s;
      background-color: var(--cpy-background-color);
      border-radius: 8px;
      color: var(--cpy-text-color);
      position: relative;
    }

    > div {
      @include util.text-overflow;

      @include util.useResponsive($width: util.$w-md) {
        font-size: .8rem;
      }
    }

    > i.fa-copyright {
      position: absolute;
      font-size: 1.5em;
      color: var(--theme);
      right: 10px;
      top: 10px;
    }

    a {
      color: var(--theme);
    }


  }
}