/**
 * @Description: 操作
 * @author: Xiao'Hong
 * @date: 2022/6/8
 * @fileName: action
 */
@import "fun";
.actionWidget {
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;
  transition: transform .5s;

  &.active {
    opacity: 0.8;
    transform: translateX(-77px);
  }

  > button {
    .flex();
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color: var(--button-color);
    text-align: center;
    font-size: 16px;
    line-height: 35px;

    > svg {
      width: 20px;
      height: 20px;
      //vertical-align: middle;

      path {
        stroke: var(--button-color);;
      }
    }
  }

}
