/**
 * @Description: 操作
 * @author: Xiao'Hong
 * @date: 2022/6/8
 * @fileName: action
 */

.by_action {
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;

  //opacity: 0;

  transition: all .5s;
}
