/**
 * @Description: 操作
 * @author: Xiao'Hong
 * @date: 2022/6/8
 * @fileName: action
 */

.by_action {
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;

  //opacity: 0;

  transition: all .5s;

  > button {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    background-color: var(--theme);
    color: var(--HC);
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  &.active{
    opacity: 1;
    transform: translateX(-58px);
  }
}
