/**
 * @Description: aside
 * @author: Xiao'Hong
 * @date: 2022/7/12
 * @fileName: aside
 */
@import "fun";

.aside {
  width: 23.5%;
  align-self: flex-start;

  > section {
    padding: 15px;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--avatar {
      width: 110px;
      height: 110px;
      border-radius: 100%;
      overflow: hidden;

      > img {
        width: 100%;
        height: 100%;
        transition: filter 375ms ease-in .2s, transform .5s;
        object-fit: cover;

        &:hover {
          transform: rotate(360deg);
        }
      }

    }

    &--name {
      font-weight: 500;
      font-size: 25px;
    }

    &--desc {
      margin-top: -10px;
    }

    &--data {
      text-align: center;
      margin: 14px 0 4px;
      display: table;
      width: 100%;
      table-layout: fixed;

      > a {
        display: table-cell;

        .name {
          color: var(--font-color);
        }

        .num {
          color: var(--text-highlight-color);
          font-size: 20px;
          margin-top: -5px;
        }
      }
    }

    &--btn {
      background-color: var(--button-background-color);
      display: block;
      border-radius: 18px;
      overflow: hidden;
      margin-top: 14px;
      color: var(--button-color);
      text-align: center;
      line-height: 2.4;
      width: 90%;
      position: relative;
      z-index: 0;
      transition: background-color .3s;

      &:hover {
        color: var(--button-color);
        background-color: var(--button-background-hover-color);

        //&:after {
        //  width: 100%;
        //}
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: width .3s ease;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: var(--button-background-hover-color);
      }

    }

    &--social {
      margin: 15px 0 -6px;

      a > {
        display: inline-block;
        margin: 0 10px;
        transition: transform .3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }


  }

  &_title {
    margin: 0 0 6px;
    font-size: 16px;
    display: flex;
    align-items: center;

    svg path {
      fill: var(--font-color)
    }

    > .name {
      margin-left: 5px;
    }
  }

  &_notice {

    @keyframes aside__notice_svg {
      0%, to {
        transform: scale(1)
      }

      50% {
        transform: scale(1.2)
      }
    }

    svg {
      path {
        fill: #ff0000;
      }

      animation: aside__notice_svg .8s linear infinite
    }

    &--content {
    }
  }

  &_article {
    &--content {
      margin: 10px 0 0;

      > .item {
        .flex();
        padding: 6px 0;

        .cover {
          border-radius: 5px;
          overflow: hidden;
          width: 70px;
          height: 50px;

          > img {
            .imgCover();

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        > .info {
          flex: 1;
          padding-left: 10px;
          word-break: break-all;

          .h {
            color: var(--font-color);
            font-size: 95%;
            line-height: 1.5;
            .clamp(1);
            margin: 0;

            &:hover {
              color: var(--theme);
            }
          }

          .t {
            display: block;
            color: #858585;
            font-size: 85%;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px dashed #f5f5f5;
        }

      }
    }
  }

  &_categories {

    &--content {
      .item {
        .flex();
        padding: 3px 12px;
        width: 100%;
        color: var(--font-color);
        transition: all .4s;
        border-radius: 8px;

        &:hover {
          background-color: var(--theme);
          color: #fff;
          padding: 3px 17px;
        }

        .name, .count {
          .ellipsis();
        }

        .name {
          flex: 1;
        }
      }
    }
  }

  &_comment {
    &--content {
      .item {
        padding: 6px 0;
        .flex();
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-child) {
          border-bottom: 1px dashed #f5f5f5;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      .comment {
        flex: 1;
        word-break: break-all;
        .clamp(1);
        color: var(--font-color);
        line-height: 1.5;

        &:hover {
          color: var(--theme);
        }
      }

      .info {
        display: block;
        color: #858585;
        font-size: 80%;
      }


    }
  }

  &_tags {
    &--content {
      .item {
        display: inline-block;
        padding: 0 5px;
        font-size: 13px;
        transition: transform .4s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &_webInfo {
    &--content {

      .item {
        padding: 8px 0 0;
        .flex();
        justify-content: space-between;
      }

    }
  }

  &_widget {
    position: fixed;
    right: -48px;
    bottom: 40px;
    z-index: 100;
    transition: transform .5s;

    &.active {
      opacity: 0.8;
      transform: translateX(-77px);
    }

    &.setup .set {
      display: block;
    }


    .set {
      display: none;
    }

    button {
      .flex();
      margin-bottom: 5px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      background-color: var(--button-background-color);
      color: var(--button-color);
      text-align: center;
      font-size: 16px;
      line-height: 35px;
      transition: background-color .2s;

      &:hover {
        background-color: var(--button-background-hover-color);
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg)
        }

        to {
          transform: rotate(1turn)
        }
      }

      &.setting svg {
        animation: spin 1.8s linear infinite;
      }


      > svg {

        path {
          fill: var(--button-color);;
        }
      }
    }

  }

}
