@keyframes headerNoOpacity {
  0% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px)
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

body {
  overflow: auto;
  position: relative;
  min-height: 100%;
  color: var(--font-color);
  font-size: var(--font-size);
}

.by {
  //左右小部件
  &_sideWidget {
    position: fixed;
    right: -48px;
    bottom: 40px;
    z-index: 100;
    transition: all 0.5s;
    opacity: 0;

    &.show {
      opacity: 1;
      transform: translateX(-58px);
    }

    > button {
      display: block;
      margin-bottom: 5px;
      width: 35px;
      height: 35px;
      background-color: var(--theme);
      color: var(--btn-color);
      border-radius: 12px;
      text-align: center;
      font-size: 16px;
      line-height: 35px;
    }
  }

  //头部
  &_header {
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://gitee.com/dhjdd/Timo/raw/master/1642699750466.jpg);
    height: 20rem;

    &_container {
      position: absolute;
      top: 0;
      z-index: 90;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 36px;
      width: 100%;
      height: 60px;
      opacity: 1;
      filter: none;
      animation: headerNoOpacity 1s;
    }

    &__blog-name {
      flex: 1;
      color: var(--light-grey);
      text-shadow: none;
      font-weight: 700;
      font-size: 18px;
    }

    &_nav {
      display: flex;
      align-items: center;

      .item {
        position: relative;
        padding: 0 0 0 10px;
        margin-right: 10px;
        color: var(--light-grey);
        font-size: 15px;
      }
    }

    &__Fn {
      //flex: 1;
      //text-align: right;
    }

    &_search{
      color: var(--light-grey);
      font-size: 15px;
      cursor: var(--cursor-link);
    }



    &.fixed .nav {
      position: fixed;
      top: -60px;
      z-index: 91;
      background: var(--nav-bg);
      box-shadow: var(--nav-box-shadow);
      transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    }

    &.show .nav {

    }

  }
}


