/**
 * @Author: 小红
 * @Date: 2022/7/24
 * @createTime: 2022/7/24
 * @Description: footer
 */
.footer {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: var(--footer-background-color);
  backdrop-filter: blur(5px);

  .halo {
    color: #2f55d4;
  }

  .theme {
    color: var(--theme);
  }

}

