/**
 * @Description: 一些函数
 * @author: Xiao'Hong
 * @date: 2022/7/8
 * @fileName: fun
 */

// 超出省略号
.clamp(@line:1) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}

.ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
