/**
 * @Author: 小红
 * @Date: 2022/4/12
 * @createTime: 2022/4/12
 * @Description: 全局样式
 */



.by-icon {
  width: 20px;
  height: 20px;
  vertical-align: -1px;
  fill: currentColor;
  overflow: hidden;
}

.by-icon {
  font-size: inherit;
}

body {
  position: relative;
  min-height: 100%;
  color: var(--font-color);
  font-family: var(--font-family);
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import url('./header');
@import url('./layout');
@import url('./nav');

