/**
 * @Author: 小红
 * @Date: 2022/4/12
 * @createTime: 2022/4/12
 * @Description: 全局样式
 */
.by-icon {
  width: 20px;
  height: 20px;
  vertical-align: -1px;
  fill: currentColor;
  overflow: hidden;
  font-size: inherit;
}




