body {
  position: relative;
  min-height: 100%;
  color: var(--theme-font-color);
  font-size: var(--theme-font-size);
  -webkit-tap-highlight-color: transparent;
  //background: var(--theme-bg);
  line-height: 2;

  &::after {
    background: var(--body-background);
  }
}

svg {
  width: 20px;
  height: 20px;
}

hr {
  position: relative;
  margin: 40px auto;
  border: 2px dashed var(--hr-border);
  width: calc(100% - 4px);
  overflow: visible;

  &:before {
    font-family: "by-font", serif !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: -10px;
    left: 5%;
    z-index: 1;
    color: var(--hr-before-color);
    content: "\e622";
    font-size: 20px;
    line-height: 1;
    transition: all 1s ease-in-out;
    //可能拆分
    display: inline-block;
    font-weight: 600;
    font-variant: normal;
    text-rendering: auto;
  }
}

img[class*='error'] {
  border-right: 1px solid #eeeeee;
}


.by-font {
  text-align: center;
  display: inline-block;
}

.widget {
  border-radius: var(--widget-border-radius);
  background-color: var(--widget-background);
  box-shadow: var(--card-box-shadow);
}

//左右小部件
.sideWidget {
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;
  transition: all 0.5s;
  opacity: 0;

  &.show {
    opacity: 1;
    transform: translateX(-58px);
  }

  > button {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    background-color: var(--theme);
    color: var(--btn-color);
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }
}


//头部
.header {
  @keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  width: 100%;
  position: relative;
  transition: all 0.5s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-image: var(--top-background);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade-in-top 1.5s;
  }

  &.off {
    background: none;
    height: 60px !important;

    .header__down, .header__site {
      display: none;
    }
  }


  &__box {
    position: absolute;
    top: 0;
    z-index: 90;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 36px;
    width: 100%;
    height: 60px;
    font-size: 1.3em;
    transition: all 0.5s;
    animation: fade-in-top 1.2s;


    a {
      color: var(--light-grey);
    }

    i {
      font-size: 1rem;
    }
  }

  .site_name {
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 15%);
    font-weight: bold;
    flex: 1;
  }

  &__nav {
    display: flex;
    align-items: center;
    user-select: none;
  }

  .item {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
    text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%);
    font-size: 0.78em;
    height: 60px;
    line-height: 60px;

    .by_icon_arrow-down {
      transition: transform .3s;
    }

    span {
      margin: 0 .2rem;
    }

    &::after {
      position: absolute;
      content: " ";
      background: var(--theme);
      height: 3px;
      bottom: 12px;
      left: 0;
      width: 0;
      transition: width .3s ease-in-out;
    }

    &:hover {
      &:after {
        width: 100%
      }

      .by_icon_arrow-down {
        transform: rotate(180deg);
      }

    }
  }

  .dropdown {
    position: relative;
    display: flex;
    align-items: center;

    @keyframes sub-menus {
      0% {
        opacity: 0;
        -ms-transform: translateY(10px);
        transform: translateY(10px)
      }

      100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -ms-transform: translateY(0);
        transform: translateY(0)
      }
    }

    &_menu {
      display: none;
      position: absolute;
      left: 0;
      top: 65px;
      margin: 0 0.5rem;
      width: max-content;
      box-shadow: 0 5px 20px -4px rgb(0 0 0 / 50%);
      border-radius: 10px;
      background-color: var(--sidebar-bg);
      flex-direction: column;
      animation: sub-menus .3s .1s ease both;

      &::before {
        content: "";
        position: absolute;
        top: -32px;
        width: 69%;
        height: 40px;
      }

      &_item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 25px;
        color: var(--theme-font-color);
        text-shadow: none;
        font-size: 0.78em;
        border-radius: 10px;
        transition: background .5s;

        &:first-child {
          border-radius: 10px 10px 0 0;
        }

        &:last-child {
          border-radius: 0 0 10px 10px;
        }

        &:hover {
          background: var(--text-bg-hover);
        }
      }
    }

    &:hover .dropdown_menu {
      display: flex;
    }
  }

  &__action {
    display: flex;
    justify-content: center;

    .item {
      margin-right: 0;
    }

    .toggle {
      display: none;
    }
  }

  &.fixed .header__box {
    position: fixed;
    top: -60px;
    z-index: 91;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 5px 6px -5px rgb(133 133 133 / 60%);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  }

  &.visible .header__box {
    transition: all .5s;
    transform: translate3d(0, 100%, 0);

    a {
      color: var(--theme-font-color);
      text-shadow: none;
    }
  }


  &__sidebar {
    @keyframes slide-in-right {
      0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
      }
      100% {
        transform: translate3d(-100%, 0, 0);
        opacity: 1;
      }
    }

    position: fixed;
    top: 0;
    right: -300px;
    z-index: 103;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    height: 100%;
    background: var(--sidebar-bg);
    display: none;
    animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


    hr {
      margin: 20px auto;
    }

    .blog {
      &_avatar {
        display: block;
        margin: 20px auto;
        width: 110px;
        height: 110px;
        border-radius: 70px;
        overflow: hidden;
        transition: filter 375ms ease-in .2s, transform .3s;
        object-fit: cover;
      }

      &_data {
        display: table;
        padding: 0 10px;
        width: 100%;
        table-layout: fixed;
        text-align: center;

        .data_item {
          display: table-cell;
        }

        .headline {
          color: var(--theme-font-color)
        }

        .length-num {
          color: var(--text-highlight-color);
          font-size: 1.28em;
        }
      }


      &_menu {
        padding: 0 10px 40px;

        a {
          font-size: 1.1em;
          color: var(--font-color);
          width: 100%;
          display: inline-block;

          .by-font {
            font-size: 1.1rem;
            margin-right: 5px;
          }
        }

        .menu_item {
          position: relative;
          display: block;
          padding: 8px 8px 8px 36px;

          .by_icon_arrow-right {
            position: absolute;
            right: 12px;
            top: 13px;
            transition: transform .3s;
          }

          .child {
            padding-left: 20px;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            display: none;
          }
        }
      }

    }
  }


  &__search {
    @keyframes scale-up-center {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: scale(0.7);
      }
      100% {
        opacity: 1;
        filter: none;
        transform: scale(1);
      }
    }

    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 1001;
    display: none;
    margin-left: -300px;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    background: var(--search-bg);
    animation: scale-up-center 0.5s;

    hr {
      margin: 20px auto;
    }
  }

  .search {
    &_nav {
      margin: 0 0 14px;
      color: var(--theme);
      font-size: 1.4em;
      line-height: 1;

      .n_title {
        margin-right: 10px;
      }

      .n_close {
        float: right;
        color: #858585;
        transition: color .2s ease-in-out;
        background: transparent;
      }
    }

    &_input {
      padding: 5px 14px;
      width: 100%;
      outline: 0;
      border: 2px solid #49b1f5;
      border-radius: 40px;
      background: var(--search-bg);
      color: var(--search-input-color);
      font-family: var(--theme-font-family);
    }


  }

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: visibility .35s, opacity .35s;
  }

}

.main {
  display: flex;
  margin: 0 auto;
  padding: 2rem 15px;
  justify-content: space-between;
  flex: 1;

  &.left {
    flex-direction: row-reverse;
  }

  &.right {
    flex-direction: row;
  }

  .article {
    flex: 1;
  }

  &:is(.left) .aside {
    margin-right: 18px;
  }

  &:is(.right) .aside {
    margin-left: 18px;
  }

  .aside {
    width: 23.5%;
    align-self: flex-start;

    @keyframes aside_icon_animation {
      0%, to {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
    }

    &_title {
      padding-bottom: 0.3rem;
      font-size: 1.2em;

      .by-font {
        font-weight: 800;
      }
    }

    > section {
      padding: 1rem 1.2rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    .user {
      position: relative;
      overflow: hidden;
      text-align: center;

      &_avatar {
        overflow: hidden;
        margin: 0 auto;
        width: 110px;
        height: 110px;
        border-radius: 70px;
        transition: filter 375ms ease-in .2s, transform .3s;
        object-fit: cover;

        &:hover {
          transform: rotate(360deg);
        }
      }

      &_name {
        font-weight: 500;
        font-size: 1.57em;
      }

      &_desc {
        margin-top: -0.42em;
      }

      &_data {
        display: table;
        margin: 14px 0 4px;
        width: 100%;
        table-layout: fixed;

        .item {
          display: table-cell;

          .headline {
            color: var(--theme-font-color);
            font-size: 1em;
          }

          .num {
            margin-top: -0.42em;
            color: var(--text-highlight-color);
            font-size: 1.4em;
          }
        }
      }

      &_button {
        display: block;
        margin-top: 14px;
        background-color: var(--theme);
        color: var(--btn-color);
        text-align: center;
        line-height: 2.4;
        border-radius: 20px;

        .t {
          margin-left: 10px;
        }

        &:hover {
          color: var(--btn-text-color);
          background-color: var(--btn-hover-background-color);
        }
      }

      &_link {
        margin: 6px 0 -6px;

        a {
          margin: 0 10px;
          color: var(--theme-font-color);
          font-size: 1.4em;
        }

        .icon {
          width: 25px;
          height: 25px;
        }
      }

    }

    .notice {
      .by-font {
        color: #f00;
        animation: aside_icon_animation 0.8s linear infinite;
      }

    }

    .nwe_article {
      &__content {
        margin: 10px 0 -15px;

        .item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .cover {
            overflow: hidden;
            width: 70px;
            height: 50px;
            margin-right: 20px;

            img {
              padding: 0;
              max-width: 100%;
              width: 100%;
              height: 100%;
              border-radius: 3px;
              transition: all 0.6s;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            flex: 1;

            .h, .t {
              color: #4c4948;
            }

            .h {
              font-size: .8em;
              font-weight: inherit;
              line-height: initial;
            }

            .t {
              color: #858585;
              font-size: 0.6rem;
            }
          }

        }
      }
    }

    .a_categories {
      &__content {
        .item {
          display: flex;
          justify-content: space-between;
          padding: 0.2rem 1rem;
          width: 100%;
          color: #4c4948;
          transition: all 0.4s;

          .name {
            width: 75%;
            text-align: left;
          }

          .count {
            width: 20%;
            text-align: right;
          }

          &:hover {
            padding: 0.2rem 0.85rem;
            background-color: var(--theme);
            color: #fff;
            border-radius: 5px;
          }
        }
      }
    }

    .a_tags {
      &__content {

        .item {
          display: inline-block;
          padding: 0 0.2rem;
          font-size: .8rem;

          &:hover {
            color: var(--theme);
          }
        }
      }

    }

    .web_info {
      .w_item {
        padding: 8px 0 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.post_layout {

  &_list .posts_box {
    .post {
      &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20em;
        overflow: hidden;
        position: relative;
        //background-color: #fff;

        &:not(:first-child) {
          margin-top: 1rem;
        }
      }

      &_cover {
        overflow: hidden;
        width: 44%;
        height: 100%;
      }

      &_info {
        padding: 0 40px;
        width: 57%;

        > .info {
          &_title {
            color: var(--text-highlight-color);
            font-size: 1.72em;
            line-height: 1.4;
            -webkit-line-clamp: 1;

            &:hover {
              color: var(--theme);
            }

            .by-color {
              font-size: 1em;
            }
          }

          &_meta {
            margin: 6px 0;
            font-size: 90%;
            -webkit-line-clamp: 1;

            .txt, .link {
              color: #858585;
            }

            .icon {
              width: 16px;
              height: auto;
              margin-right: 5px;
            }

            .item {
              .by-color {
                font-size: 1em;
                margin: 0 0.1rem 0 0;
              }

              .su {
                position: relative;
                top: -1px;
                margin: 0 0.2rem;
              }

              .point {
                margin: 0 0.2rem;
              }

              .txt {
                .point:last-child {
                  display: none;
                }
              }

              &:last-child .su {
                display: none;
              }

            }

            .sticky {
              color: #ff7242;
            }

          }

          &_content {
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }

  &_tile .posts_box {
    display: flex;
    flex-wrap: wrap;
    gap: 17px 0;
    justify-content: space-between;

    .post {
      &_item {
        width: 49%;
        height: 25em;
        display: flex;
        flex-direction: column;
        overflow: hidden;

      }

      &_cover {
        width: 100%;
        height: 230px;
        overflow: hidden;
      }

      &_info {
        width: 100%;
        overflow: hidden;
        padding: 0 30px;
        margin-top: 1em;
        margin-bottom: 1rem;

        > .info {

          &_title {
            color: var(--text-highlight-color);
            line-height: 1.4;
            -webkit-line-clamp: 1;
            font-size: 1.28em;

            &:hover {
              color: var(--theme);
            }

          }

          &_meta {
            margin: 6px 0;
            font-size: 90%;
            -webkit-line-clamp: 1;

            .txt, .link {
              color: #858585;
            }

            .icon {
              width: 16px;
              height: auto;
              margin-right: 5px;
            }

            .item {
              .by-color {
                font-size: 1em;
                margin: 0 0.1rem 0 0;
              }

              .su {
                position: relative;
                top: -1px;
                margin: 0 0.2rem;
              }

              .point {
                margin: 0 0.2rem;
              }

              .txt {
                .point:last-child {
                  display: none;
                }
              }

              &.updateTime {
                display: none;
              }

              &:last-child .su {
                display: none;
              }
            }

            .sticky {
              color: #ff7242;
            }
          }

          &_content {
            display: none;
          }
        }
      }
    }
  }
}


.pagination {
  margin-top: 20px;
  text-align: center;

  a {
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    display: inline-block;
    margin: 0 6px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;

    &:not(.prev,.next):hover {
      background: var(--pagination-btn-hover-color);
      color: var(--pagination-btn-color);
    }
  }

  .current {
    background: #00c4b6;
    color: var(--white);

    &:hover {
      color: #fff;
    }
  }
}


.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
  margin: 0 0 20px;
  color: #888;

  &_icon {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    fill: #888;
  }
}

.footer {
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  position: relative;
  padding: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, .4);
  backdrop-filter: blur(5px);


  .halo {
    color: #2f55d4;
  }

  .theme {
    color: var(--theme);
  }

  .police {
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      margin-right: 5px;
    }
  }
}


.user_data .headline, .user_data .num {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post_cover img {
  width: 100%;
  height: 100%;
  transition: filter 375ms ease-in .2s, transform .6s;
  object-fit: cover;

  &:hover {
    transform: scale(1.1);
  }
}

//.post_info .info_meta,
.info_title, .post_info .info_content, .post_layout_tile .info_meta, .nwe_article__content .h, .nwe_article__content .t, .a_categories .name, .a_categories .count, .web_info__content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.widget {
  //border-radius: 20px;
  //background: var(--card-bg);
  //box-shadow: var(--card-box-shadow);
  &:hover {
    box-shadow: 0 4px 12px 12px rgb(7 17 27 / 15%);
  }

  transition: box-shadow 0.3s;
}

// html class
.disable-scroll, .disable-search {
  .header__mask {
    visibility: visible;
    opacity: 1;
    z-index: 6;
  }
}

.disable-scroll {
  .header {
    &__sidebar {
      display: block;

      .active .by_icon_arrow-right {
        transform: rotate(90deg);
      }
    }

  }

}


.disable-search .header__search {
  display: block;
}


html {
  &.disable-scroll, &.disable-search {
    body {
      height: 100vh;
      overflow: hidden
    }
  }
}


.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

