/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: 头部
 */


@keyframes headerTopDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}


@keyframes navOpacity {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.by {
  &_header {
    position: relative;
    width: 100%;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
    background-image: var(--top-background-img);
    animation: header-down 1s;


    &__container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 90;
      padding: 0 3rem;
      width: 100%;
      height: 60px;
      animation: navOpacity 1s;
      transition: .3s ease-out;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &__title {
      flex: 1;
      text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
      font-weight: bold;
      color: var(--light-grey);
      font-size: 1.2rem;
    }

    &__nav {
      //box-shadow: 0 0.5rem 1rem rgb(18 38 63 / 5%);
      display: flex;
      align-items: center;

      .item {
        position: relative;
        height: 60px;
        line-height: 60px;
        font-size: 15px;
        padding: 0 8px;
        margin-right: 10px;
        user-select: none;
        white-space: nowrap;
        transition: color .35s;
        color: var(--light-grey);

        &:last-child {
          margin-right: 0;
        }

        > i {
          margin-right: .1rem;
          margin-left: .1rem;
          transition: transform .5s;
        }
      }
    }

    &__action {

    }

  }


  &_dropdown {

  }


}


