/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: 首页
 */
@keyframes titleScale {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: scale(1);
  }
}

@keyframes scrollDownEffect {
  0% {
    top: 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  50% {
    top: -16px;
    opacity: 1;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
}

.index {
  .by_header {
    height: 100vh;

    &__site {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 43%;
      padding: 0 2rem;
      width: 100%;
      text-align: center;
      white-space: normal;

      .title, .subtitle {
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 15%);
        line-height: 1.5;
        animation: titleScale 1s;

      }

      .title {
        margin: 0;
        color: var(--HD);
        font-size: 2rem;
      }

      .subtitle {
        font-size: 1.45rem;
        color: var(--HA);
      }

      .icons {
        margin: 8px auto 0;
        width: 15rem;
        text-align: center;
        display: none;

        > a {
          color: var(--HA);
          text-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 15%);
          margin: 0 0.5rem;
          font-size: 1rem;
        }

      }
    }


    &__down {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;

      > img {
        position: relative;
        width: 25px;
        height: 25px;
        line-height: 1.5;
        animation: scrollDownEffect 1.5s infinite;
        cursor: var(--cursor-link);
      }
    }
  }
}

