/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: 主体
 */

.by_main {
  width: var(--main-max-width);
  margin: 0 auto;
  padding: 2rem 15px;
  display: flex;
  justify-content: space-between;
  flex: 1;


  &__content {
    flex: 1;
    height: 2000px;
    border: red solid 1px;
  }

  &__aside {
    width: 23.5%;
    align-self: flex-start;
    border: red solid 1px;
  }

}
