/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: 主体
 */

.main {
  width: 100%;
  max-width: var(--main-max-width);
  flex: 1 auto;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;

  &.left {
    flex-direction: row-reverse;
  }

  &.right {
    flex-direction: row;
  }

  &:is(.left) .aside {
    margin-right: 18px
  }

  &:is(.right) .aside {
    margin-left: 18px
  }

  .box {
    flex: 1;
  }

  .aside {
    width: 23.5%;
    align-self: flex-start;
    //border: 1px solid red;
  }

}
