/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: 主体
 */

@keyframes mainInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.main {
  width: 100%;
  max-width: var(--main-max-width);
  flex: 1 auto;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  animation: mainInUp .35s;

  &.left {
    flex-direction: row-reverse;
  }

  &.right {
    flex-direction: row;
  }

  &:is(.left) .aside {
    margin-right: 18px
  }

  &:is(.right) .aside {
    margin-left: 18px
  }

  > .container {
    flex: 1;
  }
}

