/**
 * @Description:
 * @author: Xiao'Hong
 * @date: 2022/6/29
 * @fileName: post_layout
 */
@import "fun";

.post {
  //列表
  &_list &_list {

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      height: 255px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &:not(:first-child) {
        margin-top: 18px;
      }

      > .cover {
        width: 43%;
        height: 100%;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
          transition: filter 375ms ease-in .2s, transform .6s;
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .info {
        //flex: 1;
        width: 57%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &_title {
          font-size: 20px;
          line-height: 1.4;
          color: var(--posts-title-color);
          margin-bottom: 10px;

          .clamp(2);

          &:hover {
            transition: color .2s;
            color: var(--theme);
          }
        }

        &_meta {
          //.clamp(1);
          .ellipsis();

          > .item {
            font-size: 12px;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
            position: relative;
            color: var(--posts-meta-color);

            .link {
              color: var(--posts-meta-color);

              &:hover {
                color: var(--theme);
              }

              &:not(:last-child)::after {
                content: "·";
              }
            }

            &:not(:last-child) {
              &:after {
                content: '|';
                position: absolute;
                right: -8px;
                top: 0;
                bottom: 0;
                margin: auto;
                font-size: 15px;
                color: var(--posts-meta-color);
                line-height: 25px;
              }
            }


            > svg {
              margin-right: 5px;
              width: 15px;
              height: 15px;

              path {
                stroke: var(--posts-meta-color);
                stroke-width: 5px;
              }
            }
          }
        }

        &_content {
          .clamp(2);
        }
      }
    }
  }

  //平铺
  &_tile {

  }
}
