/**
 * @Description:
 * @author: Xiao'Hong
 * @date: 2022/6/29
 * @fileName: post_layout
 */
.box.post {
  //列表
  &_list {
    display: flex;
    flex-direction: column;

    &--container {
      list-style: none;
      display: flex;
      overflow: hidden;
      align-items: center;
      position: relative;
      flex-direction: row;
    }


  }

  //平铺
  &_tile {

  }
}
