.Index() {
  .w768 {
    .container .posts {
      &_item {
        font-size: 80%;
      }
    }

    .post_list .posts {
      &_item {
        flex-direction: column;
        height: auto;

        > .cover {
          width: 100%;
          height: 250px;
        }

        > .info {
          padding: 20px 20px 30px;
          width: 100%;
        }
      }

    }

    .post_tile .posts {
      &_item {
        width: 100%;
        height: auto;
      }
    }

    .above_site {
      &--desc {
        font-size: 15px;
      }

      &--social {
        display: block;
      }

    }
  }
}

.Archives() {
  .w768 {
    .main {
      .container {
        padding: 36px 14px;
      }
    }
  }
}

.Tags() {
  .w768 {
    .main {
      .container {
        padding: 36px 14px;
      }
    }
  }
}

html #Butterfly {
  @media (max-width: 1760px) {
  }

  @media (max-width: 1400px) {

  }

  @media (max-width: 1100px) {
  }

  @media (max-width: 1200px) {

  }

  @media (max-width: 1130px) {

  }

  @media (max-width: 1000px) {

  }

  @media (max-width: 992px) {
    .aside {
      display: none;
    }
  }
  @media (max-width: 955px) {
    .main {
      flex-direction: column;
    }
  }
  @media (max-width: 815px) {
  }

  @media (max-width: 795px) {
    .header {
      .menu {
        display: none;
      }

      .action .item {
        line-height: 68px;

        .name {
          display: none;
        }

        svg {
          width: 20px;
          height: 20px;
        }

        &:last-child {
          display: inline-block;
        }

        &:first-child {
          transform: translateY(-1.5px);
        }
      }
    }
  }
  @media (max-width: 768px) {

    .header {

      .search {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
      }


    }

    .main {
      padding: 20px 8px;
    }

    .navbar {
      padding: 0 16px;
    }

    .above_site {
      &--title {
        font-size: 30px;
      }
    }

    &.index {
      .Index.w768();
    }

    &.archives {
      .Archives.w768();
    }

    &.tags {
      .Tags.w768();
    }
  }

  @media (max-width: 650px) {

  }

  @media (max-width: 500px) {
  }

  @media (max-width: 375px) {
  }
}
