/**
 * @Author: 小红
 * @Date: 2022/5/11
 * @createTime: 2022/5/11
 * @Description: tags
 */
@import "fun";
@import "module";

.tags {
  .container {
    text-align: center;
  }

  &_link {
    margin: 10px 10px;
    padding: 19px 14px;
    display: inline-flex;
    align-items: center;
    line-height: 0;
    font-weight: 500;
    border-radius: 5px;
    cursor: var(--cursor-link);
    box-shadow: 0 3px 5px rgb(0 0 0 / 12%);
    color: #34495e;

    .num {
      color: #e91e63;
      margin-left: 5px;
    }
  }
}

