/**
 * @Author: 小红
 * @Date: 2022/4/12
 * @createTime: 2022/4/12
 * @Description: 变量
 */
html {
  --font-size: 14px; // 字体大小
  --font-family: "Butterfly Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif"; // 字体

  --theme: #49b1f5; // 主题颜色
  --font-color: #4c4948; // 主题字体颜色

  //暗黑模式
  &[data-mode=dark] {
    --theme: #49b1f5; // 主题颜色
    --font-color: #4c4948; // 主题字体颜色
  }

}

