/**
 * @Author: 小红
 * @Date: 2022/4/12
 * @createTime: 2022/4/12
 * @Description: 变量
 */
html {
  --theme-font-size: 14px; // 字体大小
  --theme-font-family: "Butterfly Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif"; // 字体

  --theme-color: #49b1f5; // 主题颜色
  --theme-font-color: #4c4948; // 主题字体颜色
  --card-widget: #fff; // 卡片颜色
  --link-cursor-color: var(--theme-color); // 链接悬停颜色
  --btn-font-color: #fff; // 按钮字体颜色

  //暗黑模式
  &[data-mode=dark] {
    --theme-color: #1f1f1f; // 主题颜色
    --theme-font-color: rgba(255, 255, 255, 0.7); // 主题字体颜色
    --card-widget: #fff; // 卡片颜色
    --link-cursor-color: #fff; // 链接悬停颜色
    --btn-font-color: var(--theme-font-color); // 按钮字体颜色
  }

}

