body {
  --font-color: #4c4948; // 字体颜色

  --head--blog-title-color: #eee; // 博客标题颜色
  --navbar-background-color: rgba(255, 255, 255, .8); // 导航栏背景色
  --navbar-box-shadow: 0 5px 6px -5px rgb(133 133 133 / 60%); // 导航栏阴影
  --search-background-color: #f6f8fa; // 搜索框背景色

  --above-site-title-color: #fff; // above-site-title文字颜色
  --above-site-desc-color: #eee; // above-site-desc文字颜色
  --above-mask-background-color: rgba(0, 0, 0, 0.3); // above-mask背景颜色

  //--card-border-radius: 10px; // 卡片边框圆角
  //--card-background-color: #fff; // 卡片背景色
  --card-box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 5%); // 卡片阴影
  --card-box-shadow-hover: 0 2px 11px 0 rgba(0, 0, 0, 13%); // 卡片阴影（鼠标移入）

  --posts-title-color: #1f2d3d; // 文章标题颜色
  --posts-meta-color: #858585; // 文章元数据颜色

  --pagination-hover-background-color: #ff7242; // 页码（鼠标移入）背景色
  --pagination-hover-color: #fff; // 页码（鼠标移入）字体颜色
  --pagination-active-color: #fff; // 页码（当前页）字体颜色

  --button-background-color: var(--theme); // 按钮背景色
  --button-color: #fff; // 按钮颜色
  --button-background-hover-color: #ff7242; // 按钮背景色（鼠标移入）

  --scrollbar-thumb-color: var(--theme); // 滚动条滑块颜色

  --text-highlight-color: #1f2d3d; // 文本高亮颜色

  --footer-background-color: rgba(255, 255, 255, .2); // 页脚背景色

  --hr-background-color: var(--theme); // 分割线背景色


  //暗黑模式
  &[data-theme=dark] {
    //--theme: #e3e3e3; // 主题色

    --font-color: rgba(255, 255, 255, 0.7); // 字体颜色

    --head--blog-title-color: rgba(255, 255, 255, 0.7); // 博客标题颜色
    --navbar-background-color: rgba(18, 18, 18, .9); // 导航栏背景色
    --navbar-box-shadow: 0 5px 6px -5px rgb(133 133 133 / 0%); // 导航栏阴影
    --search-background-color: #121212; // 搜索框背景色


    --above-site-title-color: rgba(255, 255, 255, 0.9); // above-site-title文字颜色
    --above-site-desc-color: rgba(255, 255, 255, 0.7); // above-site-desc文字颜色
    --above-mask-background-color: rgba(0, 0, 0, 0.7); // above-mask背景颜色


    --card-background-color: #121212; // 卡片背景色
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05); // 卡片阴影

    --posts-title-color: rgba(255, 255, 255, 0.9); // 文章标题颜色
    --posts-meta-color: rgba(255, 255, 255, 0.6); // 文章元数据颜色

    --pagination-hover-background-color: #787878; // 页码（鼠标移入）背景色
    --pagination-hover-color: rgba(255, 255, 255, 0.7); // 页码（鼠标移入）字体颜色
    --pagination-active-color: rgba(255, 255, 255, 0.9); // 页码（当前页）字体颜色

    --button-background-color: #3e3e48; // 按钮背景色
    --button-color: rgba(255, 255, 255, 0.7); // 按钮背景色
    --button-background-hover-color: #787878; // 按钮背景色（鼠标移入）


    --body-background: #0d0d0d; // body背景色

    --scrollbar-thumb-color: rgb(120, 120, 120); // 滚动条滑块颜色

    --text-highlight-color: rgba(255, 255, 255, 0.9); // 文本高亮颜色

    --footer-background-color: rgba(0, 0, 0, 0.8); // 页脚背景色

    --hr-background-color: rgba(255, 255, 255, 0.4); // 分割线背景色

  }


}


