/**
 * @Description:
 * @author: 小红
 * @date: 2023/1/6
 * @fileName: 移动端 侧边栏 基本样式
 */

.sidebar {
  display: none;

  &::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }

  &-content {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 103;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    background: var(--sidebar-bg);
    transition: all .5s;
  }


  //  &.active {
  //    .sidebar-content {
  //      transform: translateX(0);
  //    }
  //
  //    &:before {
  //      display: block;
  //    }
  //  }
}
