/**
 * @Description: 头部适配
 * @author: 小红
 * @date: 2022/12/29
 * @fileName: base
 */

@media (max-width: 1760px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1130px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .header {
    .nav {
      padding: 0 16px;

      .menu-item {
        padding-left: 12px;
      }

      .menu-link{
        font-size: 1.2rem;
      }

      .menu-pc {
        display: none;
      }

      .search .menu-name {
        display: none;
      }

      .toggle {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 650px) {
}

@media (max-width: 500px) {
}

@media (max-width: 375px) {

}
