/**
 * @date: 2023/1/7
 * @author: 小红
 * @fileName: base
 * @Description: 文章列表
 */

.posts {
  .item {
    .cover {
      &.pt-top::before {
        content: '置顶';
        position: absolute;
        left: 0;
        background: linear-gradient(135deg, #fd7a64 10%, #fb2d2d 100%);
        color: #fff;
        top: 20px;
        font-size: .5rem;
        z-index: 50;
        padding: 0 7px;
        line-height: 2;
        border-radius: 0 50px 50px 0;
      }

      img {
        transition: transform .5s;
        object-fit: cover;

        &[data-ll-status="loaded"]:hover {
          transform: scale(1.1);
        }
      }
    }

    .info {
      &-title {
        color: var(--text-obs-color);
        transition: color .2s;

        &:hover {
          color: var(--link-hover-color);
        }
      }

      &-wrap {
        margin: 6px 0 0;
        font-size: 95%;

        .wp {
          &.category {
            .lk {
              &:hover {
                color: var(--link-hover-color);
              }
            }
          }

          .point:last-child {
            display: none;
          }
        }


        .fk {
          margin: 0 0.2rem 0 0.1rem;
        }
      }

    }


  }

  //列表
  &.list > .item {
    height: 17rem;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .cover {
      width: 43%;
      height: 100%;
      //&::after {
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(255, 255, 255, .5);
      //  content: '';
      //  transition: transform .2s;
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(15%, -150%, 0);
      //}
      //
      //&:hover::after {
      //  transform: scale3d(2, 1, 1) rotate(60deg) translate3d(0, 180%, 0);
      //}

    }

    .info {
      padding: 0 40px;

      &-title {
        font-size: 1.6rem;
        line-height: 1.4;
      }

    }


    .text {
      line-height: 1.8;
    }

  }

  //平铺
  &.tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > .item {
      height: 20rem;
      flex-direction: column;
      width: 32.3%;
      margin: 0 1% 20px 0;

      .cover {
        width: 100%;
        height: 12rem;
      }

      .info {
        width: 100%;
        padding: 25px 30px 10px;

        &-title {
          font-size: 1.2rem;
          -webkit-line-clamp: 1;
          line-height: 1.2;
        }

        &-wrap {
          font-size: 80%;

          .category .cys {
            .lk:not(:first-child), .point:not(:first-child) {
              display: none;
            }
          }
        }
      }

      .text {
        display: none;
      }
    }

  }
}
