/**
 * @date: 2025/2/14
 * @author: 小红
 * @fileName: style
 * @Description: 加载样式
 */

.loading {
  &-parent {
    &--relative {
      position: relative !important;

      .loading-wrapper {
        display: flex;
      }

     > :not(.loading-wrapper) {
        display: none;
      }
    }

    &--hidden {
      overflow: hidden !important;
    }
  }

  &-wrapper {
    display: none;
    position: absolute;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
    justify-items: center;
    align-items: center;

    &.is-fullscreen {
      position: fixed !important;
    }
    
  }


  &-spinner {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

