@use "theme.scss";
@import '@unocss/reset/normalize.css';
@import '@unocss/reset/sanitize/sanitize.css';
@import '@unocss/reset/sanitize/assets.css';

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  cursor: var(--cursor-pointer)
}

::-webkit-scrollbar-track {
  background-color: transparent
}


button {
  border-style: none;
}