@use "theme.scss";

article, aside, blockquote, body, button, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
  transition: color .3s;
}

img:not([src]), img[src=""] {
  border: 0;
  opacity: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

li, ol, ul {
  list-style: none
}

button {
  border-style: none;
  outline: none;
  cursor: pointer
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  cursor: var(--cursor-pointer)
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::selection {
  color: #fff;
  background: var(--theme)
}

body {
  font-size: 14px;
  text-size-adjust: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  color: var(--r-text-color);
}


