/**
 * @date: 2024/12/8
 * @author: 小红
 * @fileName: theme
 * @Description: 主题变量
 */

@use "util.scss";


$vars: (
        root: (
                text-color: (rgba(76, 73, 72, 1), rgba(255, 255, 255, 0.7)),
        ),
        header: (
                codwdlor:(#ffffff, #000000),
        ),
        nav: (
                coloddr:(#ffffff, #000000),
        )
);

@include util.useThemeVar($vars);