/**
 * @date: 2024/12/8
 * @author: 小红
 * @fileName: theme
 * @Description: 主题变量
 */

@use "util.scss";


$vars: (
  // root
  r: (
    text-color: (rgba(76, 73, 72, 1), rgba(255, 255, 255, 0.7)),
    btn-color: (rgba(225, 225, 225, 1), rgba(255, 255, 255, 0.7)),
  ),
  // header
  h: (
    codwdlor:(#ffffff, #000000),
  ),
  // main
  m: (
    color: (rgba(76, 73, 72, 1), rgba(255, 255, 255, 0.7)),
  ),
  // footer
  f: (
  )
);

@include util.useThemeVar($vars);