/**
 * @date: 2024/12/8
 * @author: 小红
 * @fileName: theme
 * @Description: 主题变量
 */


$theme-colors: (
  primary: (#ffffff, #000000),
  secondary: (#f0f0f0, #333333),
  accent: (#d1d1d1, #666666)
);




