/**
 * @Author: 小红
 * @Date: 2023/1/5
 * @fileName: post
 * @Description: 文章
 */


@media (max-width: 1760px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1130px) {

}

@media (max-width: 1000px) {
}

@media (max-width: 992px) {
  .render-html {
    ul, ol {
      padding-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  .post-content {
    padding: 25px;
  }
}

@media (max-width: 770px) {
 .post .copyRight {
    font-size: .8rem;
    padding: 5px 8px;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 500px) {
}

@media (max-width: 375px) {

}
