<!--首页首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="index" class="above relative">
  <div class="above-info">
    <h1 class="above-title text-center margin-0-auto" th:text="${site.title}"></h1>
    <div class="above-subtitle text-center margin-0-auto">
      <span class="above-subtitle--text">国仇未报壮士老，匣中宝剑夜有声。</span>
    </div>
  </div>
</section>


<!--默认公共首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="above" class="above relative">

</section>


<!--文章首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="post" class="above relative">

</section>

