<th:block xmlns:th="https://www.thymeleaf.org">
  <script id="baseScript" th:inline="javascript">
    window.ThemeConfig =/*[[${theme.config}]]*/ {};
    window['baseScript'].remove();
  </script>
</th:block>


<style th:inline="css">
  html {
    --body-background-color: linear-gradient(90deg, rgba(247, 149, 51, .1) 0, rgba(243, 112, 85, .1) 15%, rgba(239, 78, 123, .1) 30%, rgba(161, 102, 171, .1) 44%, rgba(80, 115, 184, .1) 58%, rgba(16, 152, 173, .1) 72%, rgba(7, 179, 155, .1) 86%, rgba(109, 186, 130, .1) 100%);
  }

  html[data-theme=dark] {
    --body-background-color: rgb(15, 23, 42);
  }
</style>

<link rel="preload stylesheet" as="style" th:href="${assets_link + 'plugins/fontawesome/fontawesome.min.css'}">
