<!--头部-->
<header xmlns:th="https://www.thymeleaf.org" th:fragment="header(page)" class="header relative w-100">
  <nav class="nav flex flex-wrap flex-align-items-center  top-0 absolute z-80 w-100">
    <a th:text="${site.title}" class="site-title flex-1" href="/"></a>

    <ul class="menu inline">
      <!--搜索-->
      <li class="menu-item search" th:if="${pluginFinder.available('PluginSearchWidget')}">
        <a class="menu-link relative inline-block" href="javascript:SearchWidget.open();">
          <i class="fas fa-search fa-fw"></i>
          <span class="menu-name">搜索</span>
        </a>
      </li>
      <li class="menu-item toggle">
        <span class="menu-link relative inline-block">
          <i class="fas fa-bars fa-fw"></i>
        </span>
      </li>
      <!--toggle-->

      <th:block th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
        <li th:if="${#lists.isEmpty(menuItem.children)}" class="menu-item menu-pc">
          <a class="menu-link relative inline-block" th:href="${menuItem.status.href}"
             th:target="${menuItem.spec.target}" data-pjax>
            <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(menuItem, 'icon', ''))}"
               th:class="${#annotations.getOrDefault(menuItem, 'icon', '')}"></i>
            <span class="menu-name" th:text="${menuItem.status.displayName}"> </span>
          </a>
        </li>

        <li th:unless="${#lists.isEmpty(menuItem.children)}" class="menu-item menu-pc relative">
          <div class="menu-link relative">
            <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(menuItem, 'icon', ''))}"
               th:class="${#annotations.getOrDefault(menuItem, 'icon', '')}"></i>
            <span class="menu-name" th:text="${menuItem.status.displayName}"></span>
            <i class="fas fa-chevron-down"></i>
          </div>

          <!--menu-dropdown  -->
          <ul class="menu-dropdown none absolute right-0 padding-0 w-max-content">
            <li th:each="dropdown : ${menuItem.children}" class="menu-dropdown--item">
              <a th:href="@{${dropdown.status.href}}" class="menu-dropdown--link w-100 inline-block">
                <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(dropdown, 'icon', ''))}"
                   th:class="${#annotations.getOrDefault(dropdown, 'icon', '')}"></i>
                <span th:text="${dropdown.status.displayName}" class="menu-dropdown-name"></span>
              </a>
            </li>
          </ul>

        </li>

      </th:block>
    </ul>
  </nav>

  <th:block th:replace="~{modules/header:: ${page}}"></th:block>
</header>

<!--移动端 侧边栏-->
<div xmlns:th="https://www.thymeleaf.org" th:fragment="sidebar" class="sidebar">
  <div class="sidebar-content fixed top-0 right-0 h-100">
  </div>
</div>

<!--默认公共首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="above" class="above relative w-100">
  123
</section>


<!--首页首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="index" class="above relative w-100">
  <div class="above-info">
    <h1 class="above-title text-center margin-0-auto" th:text="${site.title}"></h1>

    <div class="above-subtitle text-center margin-0-auto">
      <span class="above-subtitle--text" th:data-typewriter="${theme.config.index.typewriter}"></span>
    </div>
  </div>
  <div class="above-down absolute text-center bottom-0 left-0 right-0">
    <i class="fas fa-angle-down"></i>
  </div>
</section>


<!--文章首屏-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="post" class="above relative">
  3455
</section>

