<!--侧边栏-->
<aside xmlns:th="https://www.thymeleaf.org" th:fragment="aside" th:if="${theme.config.aside.enable}" class="aside w-25"
       th:with="stats = ${siteStatsFinder.getStats()}">
  <section class="aside-user card text-center"
           th:with="contributor = ${contributorFinder.getContributor(theme.config.base.metadata_name)}">
    <img class="avatar block margin-0-auto overflow-hidden"
         th:src="${theme.config.loading.preload}"
         th:attr="onerror='this.src='+${'`'+theme.config.loading.err+'`'}"
         th:data-lazy-src="${contributor.avatar}"
         th:alt="${contributor.displayName}">

    <div class="name font-weight-500" th:text="${contributor.displayName}"></div>

    <div class="desc" th:text="${contributor.bio}"></div>

    <div class="data w-100">
      <a class="item" title="文章" href="/archives">
        <div class="headline">文章</div>
        <div class="num text-overflow" th:text="${stats.post}"></div>
      </a>
      <a class="item" href="/categories" title="分类">
        <div class="headline">分类</div>
        <div class="num text-overflow" th:text="${stats.category}"></div>
      </a>
      <a class="item" title="评论" href="javascript:">
        <div class="headline">评论</div>
        <div class="num text-overflow" th:text="${stats.comment}"></div>
      </a>
    </div>

    <a th:with="bt=${#strings.arraySplit(theme.config.aside.button,'&+&')}" th:utext="${bt[0]}"
       class="button block text-center" target="_blank" th:href="${bt[1]}"></a>

    <div class="icons flex flex-justify-content-center">
      <a class="" th:each="n :${theme.config.socials.no_data}" th:utext="${n.icon}" target="_blank"
         th:href="${n.url}"></a>
    </div>
  </section>

  <section class="aside-notice card">
    <h1 class="aside-title">
      <i class="fas fa-bullhorn fa-shake"></i>
      <span class="name">公告</span>
    </h1>

    <div class="content" th:utext="${theme.config.aside.notice}"></div>
  </section>

  <section th:if="${theme.config.aside.enable_category}" class="aside-category card">
    <h1 class="aside-title">
      <i class="fas fa-folder-open"></i>
      <span class="name">分类</span>
    </h1>

    <div class="content" th:with="categories = ${categoryFinder.list(1,5)}">
      <a th:each="category : ${categories}"
         th:href="@{${category.status.permalink}}"
         th:title="${category.spec.displayName}"
         class="link flex relative flex-direction-row"
      >
        <span class="name text-overflow flex-1" th:text="${category.spec.displayName}"></span>
        <span class="num text-overflow" th:text="${category.status.visiblePostCount}"></span>
      </a>
    </div>

  </section>

  <section th:if="${theme.config.aside.enable_tags}" class="aside-tags card">
    <h1 class="aside-title">
      <i class="fas fa-tags"></i>
      <span class="name">标签</span>
    </h1>

    <div class="content" th:with="tags = ${tagFinder.listAll()}">
      <a
        th:if="${tag.status.visiblePostCount > 0}"
        class="link inline-block relative"
        th:each="tag : ${tags}"
        th:href="@{${tag.status.permalink}}"
        th:title="${tag.spec.displayName}"
      >

        <span class="name" th:text="${tag.spec.displayName}"></span>
        （<span class="num" th:text="${tag.status.visiblePostCount}"></span>）
      </a>
    </div>
  </section>

  <section th:if="${theme.config.aside.enable_webInfo}" class="aside-webInfo card">
    <h1 class="aside-title">
      <i class="fas fa-chart-line"></i>
      <span class="name">网站资讯</span>
    </h1>

    <div class="content">
      <p class="item flex flex-align-items-center">
        <span class="name flex-1">文章数目：</span>
        <span class="text" th:text="${stats.post} +' 章'"></span>
      </p>

      <p class="item flex flex-align-items-center">
        <span class="name flex-1">运行时间：</span>
        <span class="text run-day" th:data-runDay="${theme.config.base.site_birthday}">未配置建站时间</span>
      </p>

      <p class="item flex flex-align-items-center">
        <span class="name flex-1">本站访客：</span>
        <span class="text" id="busuanzi_value_site_uv">加载中...</span>&nbsp;人
      </p>

      <p class="item flex flex-align-items-center">
        <span class="name flex-1">总访问量：</span>
        <span class="text" id="busuanzi_value_site_pv">加载中...</span>&nbsp;人
      </p>
    </div>

  </section>

</aside>

<!-- 文章侧边栏 toc-->
<div xmlns:th="https://www.thymeleaf.org" class="aside w-25" th:fragment="asidePost">
  <section class="card sticky toc-bot">
    <h1 class="aside-title">
      <i class="fas fa-stream"></i>
      <span class="name">目录</span>
    </h1>

    <div class="content">1212</div>
  </section>
</div>


<!--文章列表-->
<ul xmlns:th="https://www.thymeleaf.org" th:fragment="posts(ps,layout)" th:class="'posts '+${layout}">
  <li class="item card relative flex flex-align-items-center flex-justify-content-center overflow-hidden"
      th:each="post : ${ps}">
    <a th:class="'cover overflow-hidden relative'+${post.spec.pinned ? ' pt-top' : ''}"
       th:href="${post.status.permalink}"
    >
      <img class="w-100 h-100"
           th:src="${theme.config.loading.preload}"
           th:attr="onerror='this.src='+${'`'+theme.config.loading.err+'`'}"
           th:data-lazy-src="${post.spec.cover}"
           th:alt="${post.spec.title}">
    </a>

    <div class="info flex-1 flex-align-items-center">
      <a class="info-title text-clamp text-cmp2" th:href="${post.status.permalink}" th:text="${post.spec.title}"></a>

      <div class="info-wrap text-overflow ">
        <div class="text-overflow">
          <span class="wp publishTime">
            <i class="far fa-calendar-alt fa-bolt-auto"></i>
            <time th:text="'发布于 '+${#dates.format(post.spec.publishTime, 'yyyy-MM-dd HH:mm')}"></time>
          </span>
          <span class="wp category">
            <span class="fk">|</span>
            <i class="fas fa-inbox"></i>
            <span class="cys">
              <th:block th:each="cy : ${post.categories}">
                <a class="lk" th:href="${cy.status.permalink}" th:text="${cy.spec.displayName}"></a>
               <span class="point">•</span>
              </th:block>
            </span>
          </span>
        </div>

        <div class="text-overflow">
          <span class="wp comment">
              <i class="fa-solid fa-comments"></i>
              <span th:text="'评论 '+${post.stats.comment}"></span>
          </span>
          <span class="wp upvote">
              <span class="fk">|</span>
              <i class="fa-solid fa-thumbs-up"></i>
              <span th:text="'点赞 '+${post.stats.upvote}"></span>
          </span>
          <span class="wp visit">
              <span class="fk">|</span>
              <i class="fa-solid fa-eye"></i>
              <span th:text="'预览 '+${post.stats.visit}"></span>
          </span>
        </div>
      </div>

      <div class="text text-clamp text-cmp2" th:text="${post.spec.excerpt.raw}"></div>
    </div>
  </li>
</ul>

<!--分页-->
<div xmlns:th="https://www.thymeleaf.org" th:fragment="pagination(ps)" class="pagination text-center">
  <a th:if="${ps.hasPrevious()}" th:href="${ps.prevUrl}" title="下一页"
     class="prev inline-flex flex-justify-content-center flex-align-items-center">
    <i class="fas fa-chevron-left fa-fw"></i>
  </a>

  <a
    th:each="index : ${#numbers.sequence(1,ps.totalPages)}"
    th:class="${ps.page == index ?  'page current': 'page'}+' inline-flex flex-justify-content-center flex-align-items-center'"
    th:href="@{'/page/' + ${index}}" th:text="${index}"></a>

  <a th:if="${ps.hasNext()}" th:href="${ps.nextUrl}" title="下一页"
     class="next inline-flex flex-justify-content-center flex-align-items-center">
    <i class="fas fa-chevron-right fa-fw"></i>
  </a>
</div>


