<!--样式-->
<th:block   xmlns:th="https://www.thymeleaf.org" th:fragment="styles">
  <style th:inline="css" type="text/css">
    html {
      --theme: /*[(${theme.config.style.theme_color_light})]*/ #49b1f5;
      --main-max-width: /*[(${theme.config.style.content_max_width + 'px'})]*/ 1200px;
      --card-border-radius: 24px;
      --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
      --body-bg-color: linear-gradient(90deg, rgba(247, 149, 51, .1) 0, rgba(243, 112, 85, .1) 15%, rgba(239, 78, 123, .1) 30%, rgba(161, 102, 171, .1) 44%, rgba(80, 115, 184, .1) 58%, rgba(16, 152, 173, .1) 72%, rgba(7, 179, 155, .1) 86%, rgba(109, 186, 130, .1) 100%);
      --cursor-default: url("[(${#theme.assets('/plugins/cursor/simple/default.cur')})]"), auto;
      --cursor-pointer: url("[(${#theme.assets('/plugins/cursor/simple/pointer.cur')})]"), auto;
    }

    html[data-theme=dark] {
      --theme: /*[(${theme.config.style.theme_color_dark})]*/ #ff7242;
      --body-bg-color: #221f1f;
    }
  </style>
</th:block>

<!--底部-->
<footer xmlns:th="https://www.thymeleaf.org" th:fragment="footer" class="footer relative text-center">
  <div class="copyright" th:text="'© 2020 - '+${#dates.format(#dates.createNow(), 'yyyy')}+' By '+ ${site.title}"> ©2020
    - 2023 By 小红
  </div>
  <div class="icp">　备案号：蜀ICP备20013557号</div>
  <div class="powered">
    Powered by&nbsp;<a class="halo" href="https://halo.run/" target="_blank">Halo</a>&nbsp;|&nbsp;🌈
    Theme by&nbsp;<a class="theme" title="当前主题：Butterfly" href="https://github.com/dhjddcn/halo-theme-butterfly"
                     target="_blank">小红</a>
  </div>
</footer>

<!--左右吸附小部件-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="adsorption" class="adsorption z-100 fixed transition-all-5s">
  <button class="switch-model block text-center" type="button" title="浅色和深色模式转换">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <path
        d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM4 16c0-6.627 5.373-12 12-12v24c-6.627 0-12-5.373-12-12z"></path>
    </svg>
  </button>

  <button class="back-top block text-center" type="button" title="回到顶部">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <path d="M16 1l-15 15h9v16h12v-16h9z"></path>
    </svg>
  </button>
</section>
