/**
 * @Description: 头部
 * @author: 小红
 * @date: 2022/12/8
 * @fileName: header
 */


@keyframes above-down {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: translateY(0);
  }
}

@keyframes nav-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  min-height: 60px;

  .nav {
    user-select: none;
    height: 60px;
    padding: 0 36px;
    animation: nav-down 1s;
    font-size: 1.1rem;
    transition: top 0.5s, background 0.5s, box-shadow 0.5s;
    top: 0;

    .menu {
      &-item {
        position: relative;
        display: inline-block;
        padding-left: 20px;
      }

      &-link {
        position: relative;
        padding-bottom: 6px;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
        font-size: 1rem;
        color: var(--nav-default-font-color);
      }
    }

    .site-title {
      text-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 15%);
      font-weight: 700;
      color: var(--nav-default-font-color);
    }

    &.style {
      position: fixed;
      top: -60px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 5px 6px -5px rgb(133 133 133 / 60%);
      transition: none;

      .site-title, .menu-link {
        color: var(--nav-scroll-font-color);
        text-shadow: none;
      }
    }

    &.visible {
      transition: top 0.5s;
      top: 0;
    }

    &.hidden {
      transition: top 0.5s;
      top: -60px;
    }

  }

  .above {
    height: 30rem;
    background-image: url("https://dhjdd.cn/file/5se.png");
    //background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: above-down 1.2s;
  }


}
