/**
 * @Description: 头部
 * @author: 小红
 * @date: 2022/12/8
 * @fileName: header
 */


@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 1
  }
}


.header {
  min-height: 60px;
  transition: all .5s;

  .nav {
    user-select: none;
    height: 60px;
    padding: 0 36px;
    animation: fade-in-top 1.2s;
  }

  .above {
    height: 30rem;
    transition: all 0.5s;
    background-image: url("https://dhjdd.cn/file/screenshot_1641478512166.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fade-in-top 1.2s;
  }
  
  
  .site{
    &-title{
      text-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 15%);
      font-weight: 700;
    }
  }
  
}
