/**
 * @Description: 首页
 * @author: 小红
 * @date: 2022/11/23
 * @fileName: index
 */

.index {

  .above {
    height: 100vh;

    &-info {
      position: absolute;
      top: 43%;
      padding: 0 0.5rem;
      width: 100%;
    }

  }
}


