/**
 * @Description: main
 * @author: 小红
 * @date: 2022/12/9
 * @fileName: main
 */


.main {
  max-width: var(--main_max_width);
  padding: 2rem 15px;
  flex: 1;
  background-color: #49b1f5;
  height: 2000px;
}