/**
 * @Description: 变量
 * @author: 小红
 * @date: 2022/11/25
 * @fileName: theme
 */


html {
  --color: #4c4948;
  --size: 14px;
 
  --btn-color: #fff;

  --nav-default-font-color: #eee;
  --nav-scroll-font-color: var(--color);
  


  &[data-mode=dark] {
    --color: rgba(255, 255, 255, 0.7);
    
    --btn-color: var(--color);
    
    --nav-default-font-color: var(--color);
    --nav-scroll-font-color: var(--color);

  }
}