/**
 * @Description:
 * @author: 小红
 * @date: 2023/1/6
 * @fileName: 主体基本样式
 */

.main {
  max-width: var(--main-max-width);
  padding: 2rem 15px;

  > .container {
    width: 74.5%;
  }

  &.aside-left {
    flex-direction: row-reverse;
  }

  &.aside-right {
    flex-direction: row;
  }

  &:is(.aside-left) .aside {
    margin-right: 18px;
  }

  &:is(.aside-right) .aside {
    margin-left: 18px;
  }


}