<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout (
  page = 'categories',
  title = '分类',
  head = ~{::head},
  above = ~{::above},
  content = ~{::content},
  js = ~{::js}
  )}">
>
<th:block th:fragment="head">
  <style th:inline="css"
         th:with="above_background= ${is_body_bg_http ? '' : 'url(' + theme.config.index.above_background + ')'}">
    html {
      --above-background: /*[(${above_background})]*/ transparent;
    }
  </style>
  <link rel="stylesheet" th:href="@{/assets/css/categories.min.css}">
</th:block>

<section
  th:fragment="above"
  th:if="${theme.config.index.enable_above}"
  class="above relative w-100">

</section>

<th:block th:fragment="content">
  <section class="container">
111
  </section>

  <th:block th:replace="~{modules/public:: aside}"></th:block>
</th:block>

<th:block th:fragment="js">
  <script type="text/javascript" th:src="@{/assets/js/categories.min.js}"></script>
</th:block>
</html>