<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: params (
  page = 'index',
  head = ~{::head},
  content = ~{::content},
  script = ~{::script}
  )}">
>

<head th:fragment="head">
  <title th:text="${site.title}"></title>
  <link rel="stylesheet" th:href="@{/assets/css/index.min.css}">
</head>

<th:block th:fragment="content">
  121212
</th:block>

<th:block th:fragment="script">
  <script type="text/javascript" th:src="@{/assets/js/index.min.js}"></script>
</th:block>

</html>