<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:x-on="http://www.w3.org/1999/xhtml"
  th:replace="~{modules/layout :: layout (
  page = 'index',
  title = ${site.title + (#strings.isEmpty(site.subtitle) ? '' : ' - ' + site.subtitle)},
  content = ~{::content}
  )}"
>
  <!--/* 內容 */-->
  <th:block th:fragment="content">
    <header th:replace="~{modules/common/header :: h(above)}">
      <section
        class="h-[100vh] bg-center bg-cover bg-no-repeat backface-hidden bg-blend-multiply transition-[height_0.35s,width_0.35s]"
        style="background-image: url(https://unpkg.com/halo-theme-butterfly/docs/above.png)"
        th:fragment="above"
      ></section>
    </header>

    <main class="content h-[2000px] bg-coolgray w-full"></main>
  </th:block>
</html>
