<layout th:replace="~{core/layout :: layout (
  page = 'index',
  title = ${site.title},
  css_pin = ~{::css_pin},
  js_pin = ~{::js_pin},
  main = ~{::main}
  )}"><th:block th:fragment="css_pin"><style th:inline="css">.above {
        --above-background: /*[(${'url('+theme.config.index.above_background+')'})]*/ transparent;
      }</style></th:block><th:block th:fragment="js_pin"></th:block><th:block th:fragment="main"><section class="content"> <th:block th:replace="~{modules/components:: list(${posts.items},${theme.config.index.post_layout})}"/> <th:block th:replace="~{modules/components:: pagination(${posts},${'/index'})}"/> </section> <th:block th:replace="~{modules/aside::aside_common}"/> </th:block></layout>