<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout (
  page = 'post',
  title = ${post.spec.title},
  head = ~{::head},
  content = ~{::content},
  script = ~{::script}
  )}">
>
<th:block th:fragment="head">
  <style
    th:inline="css"
    th:with="above_background= ${is_body_background_http ? '' : 'url(' + post.spec.cover + ')'}
  ">
    html {
      --above-background: /*[(${above_background})]*/ transparent;
    }

  </style>
  <link rel="stylesheet" th:href="@{/assets/plugins/fancybox/fancybox.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/post.min.css}">
</th:block>

<th:block th:fragment="content">
  <section class="card post-content">
    <div th:utext="${post.content.content}" class="render-html"></div>

    <div class="copyRight relative">
      <i class="fa-solid fa-copyright absolute"></i>
      
      <div class="author">
        <span class="name">文章作者：</span>
        <span class="text">小红</span>
      </div>

      <div class="url">
        <span class="name">本文链接：</span>
        <span class="text">
          <a class="link" href="/" target="_blank">https://bbchin.com/archives/style-guideline</a>
        </span>
      </div>

      <div class="declaration">
        <span class="name">版权声明：</span>
        <span class="text">本站所有文章除特别声明外，均採用 <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="external nofollow noreferrer" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明来自 <a
          href="https://butterfly.js.org" target="_blank">小红</a>！</span>
      </div>


    </div>
  </section>
</th:block>

<th:block th:fragment="script">
  <script type="text/javascript" th:src="@{/assets/plugins/fancybox/fancybox.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/post.min.js}"></script>
</th:block>

</html>