/**
 * @date: 2023/1/7
 * @author: 小红
 * @fileName: base
 * @Description: 文章
 */

.main {
  > .content {
    padding: 35px;
  }

  > .aside {
    align-self: auto;
  }
}

.above {
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }
}

.post-info {
  padding: 0 8%;
  bottom: 8rem;
  transition: bottom 0.3s, padding 0.3s;
}

.post-title {
  margin-bottom: 8px;
  color: var(--post-title-font-color);
  font-size: 2.2rem;
  line-height: 1.5;
}

.post-meta {
  color: var(--post-meta-font-color);
  font-size: 95%;


  i {
    margin-right: 2px;
  }

  .fk {
    margin: 0 5px;
  }

  .cys {
    .point:last-child {
      display: none;
    }
  }
}

.post-outDate {
  margin: 0 0 20px;
  border-radius: 3px;
  background-color: #ffe6e6;
  color: #f66;
  padding: 0.5em 1em 0.5em 2.6em;
  border-left: 5px solid #ff8080;

  &::before {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 6 Pro", serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f071';
    position: absolute;
    top: 50%;
    left: 0.9em;
    color: #ff8080;
    transform: translateY(-50%);

  }
}

.render-html {
  word-break: break-word;
  overflow-wrap: break-word;

  a {
    color: var(--theme);
    display: inline-block;
    text-decoration: underline;
    transition: transform .3s;

    &:hover {
      transform: translateX(5px);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    display: flex;
    transition: font-size 0.3s;

    &::before {
      display: inline-block;
      font-weight: 600;
      font-family: 'Font Awesome 6 Pro', serif;
      text-rendering: auto;
      color: #f47466;
      content: '\f0c1';
      transition: color 0.2s ease-out;
      margin-right: 10px;
    }
  }

  h1 {
    font-size: 1.6em;
    margin: 30px 0 20px;
  }

  h2 {
    font-size: 1.5em;
    margin: 25px 0 18px;

  }

  h3 {
    font-size: 1.4em;
    margin: 20px 0 16px;

  }

  h4 {
    font-size: 1.3em;
    margin: 15px 0 14px;

  }

  h5 {
    font-size: 1.2em;
    margin: 10px 0 12px;
  }

  h6 {
    font-size: 1.1em;
    margin: 5px 0 10px;
  }

  ul, ol {
    margin-bottom: 18px;
    padding-left: 36px;
  }

  ul li, ol li {
    line-height: 38px;
  }

  ul > li {
    list-style: circle;

    &::marker {
      color: var(--theme);
      font-weight: 600;
      font-size: 1.5em;
    }
  }

  ol > li {
    list-style: decimal;
  }

  ul[data-type*=taskList] {
    li {
      margin-left: -16px;
      list-style: none;
    }

    > label, input, div, p {
      display: inline-block;
    }

    label {
      position: relative;
      margin-right: 8px;
      top: 2.6px;
      display: inline-block;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: var(--cursor-pointer);
        height: 0;
        width: 0;

        &:checked ~ span {
          background-color: limegreen;
          border-radius: 5px;
          transition: 0.15s;
        }

        &:checked ~ span:after {
          display: block;
        }
      }

      span {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #ccc;
        border-radius: 5px;
        transition: 0.15s;
        cursor: var(--cursor-pointer);

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 6px;
          top: 3px;
          width: 3px;
          height: 6px;
          border: solid white;
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg);
        }


      }
    }


  }


  code:not([class]) {
    user-select: all;
    font-size: var(--font-size);
    font-family: "Butterfly Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";
    background-color: var(--code-bg-color);
    color: var(--code-font-color);
    display: inline-block;
    margin: 2px 4px;
    padding: 0 8px;
    white-space: normal;
    text-indent: 0;
    vertical-align: baseline;
    word-break: break-word;
    border-radius: 4px;
    line-height: 1.8;
  }

  blockquote {
    margin: 10px 0;
    padding: 12px 15px;
    border-left: 3px solid var(--theme);
    background-color: var(--blockquote-bg-color);
    color: var(--blockquote-font-color);
  }

  img {
    margin-bottom: 20px;
    max-width: 100%;
    transition: filter 375ms ease-in 0.2s;
    cursor: zoom-in;
    border-radius: 5px;
  }

  table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    border-radius: 4px;
    margin: 5px 0;

    tr > th {
      background-color: rgba(153, 169, 191, .1);
      padding: 6px 12px;
      border: 1px solid var(--table-t-color);
      vertical-align: middle;
      text-align: left;
    }

    tr > td {
      padding: 6px 12px;
      border: 1px solid var(--table-t-color);
      vertical-align: middle;
      text-align: left;
    }

  }


}

.toc-bot {
  top: 20px;
  transition: top 0.3s;


  .toc {
    overflow-y: auto
  }

  .toc > .toc-list {
    overflow: hidden;
    position: relative
  }

  .toc-list li {
    list-style: decimal;
  }

  .toc-list {
    margin: 0;
    padding-left: 20px
  }

  a.toc-link {
    color: currentColor;
    height: 100%;
    display: block;
    margin: 4px 0;
    padding: 1px 8px;
  }

  .is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: 300ms ease-in-out
  }

  .is-collapsed {
    max-height: 0
  }


  a.is-active-link {
    background-color: #00c4b6;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    color: #ffffff;
  }


  .is-active-link::before {
    background-color: #54BC4B
  }

  .toc-list-item {
    //margin: 4px 0;
  }

}

.copyRight {
  margin: 25px 0;
  padding: 10px 16px;
  border: 1px solid var(--cp-border-color);
  transition: box-shadow 0.2s, transform 0.2s;
  background-color: var(--cp-bg-color);
  border-radius: 8px;
  color: var(--text-obs-color);

  &:hover {
    //transform: translateY(-5px);
    //box-shadow: 0 5px 3px -3px #93baff4d;
  }

  .fa-copyright {
    font-size: 1.5em;
    color: var(--theme);
    right: 10px;
    top: 10px;
  }


  .permalink {
    transition: color 0.3s;
    text-decoration: underline;

    &:hover {
      color: var(--theme);
    }
  }

}

.abstract {
  margin-bottom: 20px;

  .link {
    padding: 0 10px;
    margin: 10px 10px 5px 0;
    background-color: #c9cde966;
    box-shadow: 0 7px 20px 1px #d7ceff30;
    border-radius: 5px;
    transition: box-shadow 0.2s, transform 0.2s;
    color: var(--spec-color);

    i {
      font-size: .8em;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 2rem 1rem -1rem #93baff4d;
      color: var(--theme);
    }

    .name {
      cursor: var(--cursor-pointer);
    }
  }

}

.support {
  margin-bottom: 20px;

  .title {
    padding: 15px;
  }

  .content {
    .item {
      width: 80px;
      padding: 10px 0;
      color: var(--text-obs-color);

      > i {
        font-size: 1.7em;
      }
    }

    .share, .reward {
      &-dropdown {
        padding: 15px;
        box-shadow: 0 0 10px 8px rgba(116, 116, 116, 0.08);
        background-color: var(--post-dropdown-bg-color);
        bottom: 74px;
        border-radius: 8px;

        visibility: hidden;
        transition: visibility .4s, opacity .4s, transform .4s;
        opacity: 0;
        transform: translateY(-6px);

        &::before {
          content: " ";
          display: inline-block;
          width: 9px;
          height: 9px;
          background-color: var(--post-dropdown-bg-color);
          position: absolute;
          transform: rotate(45deg);
          border-radius: 2px;
          margin: auto;
          left: 0;
          right: 0;
          bottom: -4px;
        }

        .dropdown-item {
          width: 110px;
          font-size: .85rem;

          .icon {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: var(--post-icon-bg-color);
            font-size: 1.1em;
            flex-shrink: 0;
          }

          .name {
            margin-left: 10px;
            transition: color .2s;

            &:hover {
              color: var(--theme);
            }
          }


          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }

      &:hover {
        .share-dropdown, .reward-dropdown {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .reward-dropdown {
      > section {
        margin: 10px;
        width: 200px;

        img {
          width: 200px;
          height: 200px;
          box-shadow: 2px 1px 20px 20px rgb(116 116 116 / 8%);
          border-radius: 5px;
        }

        span {
          margin-top: 10px;
        }
      }
    }
  }
}
