<!--/* 信息 */-->
<section th:fragment="user" class="aside-user card">
  <img th:replace="~{modules/components:: lazyLoadImg(${contributor.avatar},${contributor.displayName},'avatar',false)}"/>

  <h1 class="name" th:text="${contributor.displayName}"></h1>

  <div class="desc" th:text="${contributor.bio}"></div>

  <div class="data w-100">
    <a class="item" title="文章" href="/archives">
      <div class="headline">文章</div>
      <div class="num text-overflow" th:text="${stats.post}"></div>
    </a>
    <a class="item" href="/categories" title="分类">
      <div class="headline">分类</div>
      <div class="num text-overflow" th:text="${stats.category}"></div>
    </a>
    <a class="item" title="评论" href="javascript:">
      <div class="headline">评论</div>
      <div class="num text-overflow" th:text="${stats.comment}"></div>
    </a>
  </div>

  <a th:with="bt=${#strings.arraySplit(theme.config.aside.button,'|&|')}" target="_blank" th:href="${bt[1]}">
    <button class="button" th:utext="${bt[0]}"></button>
  </a>

  <div class="social" th:with="social = ${theme.config.aside.social[0]}">
    <a class="link" target="_blank" title="QQ" th:if="${not #strings.isEmpty(social.QQ)}" th:href="${'http://wpa.qq.com/msgrd?v=3&uin=' + social.QQ +  '&site=qq&menu=yes'}"><i class="fa-brands fa-qq"></i></a>
    <a class="link" target="_blank" title="Github" th:if="${not #strings.isEmpty(social.Github)}" th:href="${ social.Github }"><i class="fa-brands fa-github"></i></a>
    <a class="link" target="_blank" title="emil" th:if="${not #strings.isEmpty(social.Email)}" th:href="${'mailto:'+ social.Email }"><i class="fa-solid fa-envelope"></i></a>
  </div>
</section>

<!--/* 公告 */-->
<section th:fragment="notice" class="aside-notice card">
  121
</section>


<!--/* 侧边栏 */-->
<aside class="aside" th:fragment="aside" th:if="${theme.config.aside.enable} == 'true'">
  <th:block th:replace="~{::user}"/>
  <th:block th:replace="~{::notice}"/>
</aside>

