<!--/* 图片加载 */-->
<img
  th:fragment="lazyLoadImg(src,alt,class,random)"
  th:src="${theme.config.loading.preload}"
  th:attr="onerror='this.src='+${'`'+theme.config.loading.err+'`'}"
  th:data-lazy-src="${(#strings.isEmpty(src) && theme.config.loading.enable_random_img == 'true' && random)  ? (theme.config.loading.random_img + '?v=' + postStat.index)  : src}"
  th:alt="${alt}"
  th:class="${class}"
>

<!--/* 文章列表  */-->
<ul
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="list(data,layout)"
  th:class="${'essay '+layout}">
  <li class="item card" th:each="post : ${data}">
    <a th:if="${not #strings.isEmpty(post.spec.cover) || theme.config.loading.enable_random_img == 'true' }" th:href="${post.status.permalink}" th:title="${post.spec.title}" th:class="'cover' + ${post.spec.pinned ? ' top' : ''}">
      <img th:replace="~{::lazyLoadImg(${post.spec.cover},${post.spec.title},'img',true)}"/>
    </a>

    <div class="info">
      <a class="title" th:href="${post.status.permalink}" th:title="${post.spec.title}" th:text="${post.spec.title}"></a>
      <div class="data">
        <div class="row">
          <span class="wp comment">
              <i class="fa-solid fa-comments"></i>
              <span th:text="'评论 '+${post.stats.comment}"></span>
          </span>
          <span class="wp upvote">
              <i class="fa-solid fa-thumbs-up"></i>
              <span th:text="'点赞 '+${post.stats.upvote}"></span>
          </span>
          <span class="wp visit">
              <i class="fa-solid fa-eye"></i>
              <span th:text="'预览 '+${post.stats.visit}"></span>
          </span>
        </div>

        <div class="row">
          <span class="wp publishTime">
            <i class="far fa-calendar-alt fa-bolt-auto"></i>
            <time th:datetime="${post.spec.publishTime}" th:text="'发布于 '+${#dates.format(post.spec.publishTime, 'yyyy-MM-dd HH:mm')}"></time>
          </span>
          <span class="wp category" th:if="${!#arrays.isEmpty(post.categories)}">
            <i class="fas fa-inbox"></i>
            <span class="cys">
              <th:block th:each="cy : ${post.categories}">
                <a class="link" th:href="${cy.status.permalink}" th:text="${cy.spec.displayName}"></a>
              </th:block>
            </span>
          </span>
        </div>
      </div>
      <div th:if="${layout == 'list'}" class="excerpt" th:text="${post.spec.excerpt.raw}"></div>
    </div>
  </li>
</ul>


<!--/* 分页  */-->
<div xmlns:th="https://www.thymeleaf.org"
     class="pagination"
     th:fragment="pagination(data,path)"
     th:data-pgn="${#strings.concat(path,'-',data.nextUrl,'-',data.prevUrl,'-',data.page,'-',data.size,'-',data.totalPages,'-',data.total,'-',data.hasPrevious(),'-',data.hasNext())}"
>

  <!--  <a th:if="${ps.hasPrevious()}"-->
  <!--     th:href="${ps.prevUrl}"-->
  <!--     rel="prev"-->
  <!--     title="上一页"-->
  <!--     class="prev">-->
  <!--    <i class="fas fa-chevron-left fa-fw"></i>-->
  <!--  </a>-->

  <!--  <th:block th:if="${ps.totalPages > 5}">-->
  <!--    <a-->
  <!--      th:each="index : ${#numbers.sequence(start,end)}"-->
  <!--      th:class="${ps.page == index ?  'page current': 'page'}+'"-->
  <!--      th:href="@{${path+'/page/'}  + ${index}}" th:text="${index}"></a>-->
  <!--  </th:block>-->

  <!--  <th:block th:unless="${ps.totalPages > 5}">-->
  <!--    <a-->
  <!--      th:each="index : ${#numbers.sequence(start,ps.totalPages)}"-->
  <!--      th:class="${ps.page == index ?  'page current': 'page'}"-->
  <!--      th:href="@{${path+'/page/'}  + ${index}}" th:text="${index}"></a>-->
  <!--  </th:block>-->

  <!--  <a th:if="${ps.hasNext()}"-->
  <!--     th:href="${ps.nextUrl}"-->
  <!--     rel="next"-->
  <!--     title="下一页"-->
  <!--     class="next">-->
  <!--    <i class="fas fa-chevron-right fa-fw"></i>-->
  <!--  </a>-->
</div>