<!--/* 基础配置 */-->
<script id="baseScript" th:inline="javascript">
  window.MainApp = {
    conf: {
      style_mode: /*[[${theme.config.style.mode}]]*/ null,
      enable_aside: /*[[${theme.config.aside.enable}]]*/ true,
      enable_webInfo: /*[[${theme.config.aside.enable_webInfo}]]*/ true,
      assets_link: /*[[${assets_link}]]*/ true,
      contributor:  {
        name: /*[[${contributor.displayName}]]*/ '',
        bio: /*[[${contributor.bio}]]*/ '',
      },
    },
    attrs: {},
    modules: {},
  };
</script>

<!--/* style */-->
<style th:inline="css">
  :root {
    --card-border-radius: /*[(${theme.config.card.radius})]*/ 24px;
    --card-box-shadow: /*[(${theme.config.card.shadow})]*/ transparent;
    --link-hover-color: var(--theme);
  }

  html {
    --theme: #1c69ed;
    --body-background: /*[(${theme.config.style.body_background})]*/ transparent;
    --nav-font-color: /*[(${theme.config.nav.font_color.light})]*/ transparent;
    --nav-active-font-color: /*[(${theme.config.nav.active_font_color.light})]*/ transparent;
    --nav-active-hover-font-color: /*[(${theme.config.nav.active_hover_font_color.light})]*/ transparent;
    --nav-active-background-color: /*[(${theme.config.nav.active_background_color.light})]*/ transparent;
    --nav-active-shadow: /*[(${theme.config.nav.active_shadow.light})]*/ transparent;
    --nav-dropdown-background-color: /*[(${theme.config.nav.dropdown_background_color.light})]*/ transparent;
    --nav-dropdown-font-color: /*[(${theme.config.nav.dropdown_font_color.light})]*/ transparent;
    --nav-dropdown-hover-font-color: /*[(${theme.config.nav.dropdown_hover_font_color.light})]*/ transparent;
  }

  html[data-color-scheme=dark] {
    --theme: #3aa675;
    --body-background: rgb(15, 23, 42);
    --nav-font-color: /*[(${theme.config.nav.font_color.dark})]*/ transparent;
    --nav-active-font-color: /*[(${theme.config.nav.active_font_color.dark})]*/ transparent;
    --nav-active-hover-font-color: /*[(${theme.config.nav.active_hover_font_color.dark})]*/ transparent;
    --nav-active-background-color: /*[(${theme.config.nav.active_background_color.dark})]*/ transparent;
    --nav-active-shadow: /*[(${theme.config.nav.active_shadow.dark})]*/ transparent;
    --nav-dropdown-background-color: /*[(${theme.config.nav.dropdown_background_color.dark})]*/ transparent;
    --nav-dropdown-font-color: /*[(${theme.config.nav.dropdown_font_color.dark})]*/ transparent;
    --nav-dropdown-hover-font-color: /*[(${theme.config.nav.dropdown_hover_font_color.dark})]*/ transparent;
  }

  .loading #Butterfly {
    display: none;
  }
</style>
<link rel="preload stylesheet" as="style" th:if="${theme.config.style.font_family != 'null'}" th:href="${assets_link + 'font/' + theme.config.style.font_family + '.min.css'}">
<link rel="preload stylesheet" as="style" th:href="${assets_link + 'plugins/fontawesome/fontawesome.min.css'}">
<link rel="preload stylesheet" as="style" th:href="${assets_link + 'plugins/cursor/' + 'simple' + '.min.css?v=' + theme.spec.version}">
