<!--/* 渲染html  */-->
<article xmlns:th="https://www.thymeleaf.org"
         th:fragment="postHtml(str)"
         class="content card"
>
  <th:block th:if="${theme.config.code.enable}">
    <link rel="preload stylesheet" as="style" th:href="${assets_link+'plugins/prism/prism.min.css'}">
    <link rel="preload stylesheet" as="style" data-code="light" th:href="${assets_link+ 'plugins/prism/themes/prism-'+theme.config.code.theme_light+'.css'}">
    <link rel="preload stylesheet" as="style" data-code="dark" th:href="${assets_link+'plugins/prism/themes/prism-'+theme.config.code.theme_dark+'.css'}">
    <script type="text/javascript" th:src="${assets_link+'plugins/prism/prism.min.js'}"></script>
  </th:block>
  <div class="render-html enable_h_icon" th:utext="${str}"></div>
</article>

