<!--/* 代码块  */-->
<th:block xmlns:th="https://www.thymeleaf.org" th:if="${theme.config.render.enable_code}" th:fragment="prism">
  <link rel="preload stylesheet" as="style" th:href="${assets_link+'plugins/prism/prism.min.css'}">
  <link rel="preload stylesheet" as="style" data-code="light" th:href="${assets_link+ 'plugins/prism/themes/prism-'+theme.config.render.code_theme_light+'.css'}">
  <link rel="preload stylesheet" as="style" data-code="dark" th:href="${assets_link+'plugins/prism/themes/prism-'+theme.config.render.code_theme_dark+'.css'}">
  <script type="text/javascript" th:src="${assets_link+'plugins/prism/prism.min.js'}"></script>

  <script id="renderScript" th:inline="javascript">
    window.THEME_CONFIG.render = {
      enable_code: /*[[${theme.config.render.enable_code}]]*/ true,
      code_theme_dark: /*[[${theme.config.render.code_theme_dark}]]*/ 'one-dark',
      enable_code_copy: /*[[${theme.config.render.enable_code_copy}]]*/ true,
      enable_code_expander: /*[[${theme.config.render.enable_code_expander}]]*/ true,
      code_theme_light: /*[[${theme.config.render.code_theme_light}]]*/ 'one-light',
      enable_code_title: /*[[${theme.config.render.enable_code_title}]]*/ true,
      enable_code_hr: /*[[${theme.config.render.enable_code_hr}]]*/ true,
      enable_code_line: /*[[${theme.config.render.enable_code_line}]]*/ true,
      enable_h_icon: /*[[${theme.config.render.enable_h_icon}]]*/ true,
    };
    window['renderScript']?.remove();
  </script>
</th:block>


<!--/* 文章版权  */-->
<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="copyRight">
  <div class="copy-right">
    <i class="fa-solid fa-copyright"></i>

    <div class="author">
      <span class="name">文章作者：</span>
      <span class="text" th:text="${contributor.displayName}"></span>
    </div>

    <div class="url">
      <span class="name">本文链接：</span>
      <span class="text"><a class="permalink" target="_blank"></a></span>
    </div>


    <div class="declaration">
      <span class="name">版权声明：</span>
      <span class="text">本站所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明来自 <a href="/" target="_blank" th:text="${contributor.displayName}"></a>！</span>
    </div>
  </div>
</th:block>


<!--/* 渲染post页面  */-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="post" class="content card animate__animated animate__fadeIn">
  <th:block th:replace="~{::prism}"/>

  <article class="render" th:utext="${post.content.content}"></article>

  <th:block th:replace="~{::copyRight}"/>

  <halo:comment
    th:if="${pluginFinder.available('PluginCommentWidget') && haloCommentEnabled && post.spec.allowComment}"
    group="content.halo.run"
    kind="Post"
    th:attr="name=${post.metadata.name}"
  />
</section>


<!--/* 渲染自定义page页面  */-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="single" class="content card animate__animated animate__fadeIn">
  <th:block th:replace="~{::prism}"/>

  <article class="render" th:utext="${singlePage.content.content}"></article>

  <halo:comment
    th:if="${pluginFinder.available('PluginCommentWidget') && haloCommentEnabled && singlePage.spec.allowComment}"
    group="content.halo.run"
    kind="SinglePage"
    th:attr="name=${singlePage.metadata.name}"
  />
</section>


<!--/* 渲染瞬间页面  */-->
<section xmlns:th="https://www.thymeleaf.org" th:fragment="moments" class="content card animate__animated animate__fadeIn">
  <th:block th:replace="~{::prism}"/>

  <article class="render">
    <ul>
      <li th:each="moment : ${moments.items}" th:with="content=${moment.spec.content}">
        <div th:if="${not #strings.isEmpty(content.html)}" th:utext="${content.html}"></div>

        <th:block th:if="${not #lists.isEmpty(content.medium)}" th:each="momentItem : ${content.medium}">
          <img th:if="${momentItem.type.name == 'PHOTO'}" th:src="${momentItem.url}"/>
          <video th:if="${momentItem.type.name == 'VIDEO'}" th:src="${momentItem.url}"></video>
          <audio th:if="${momentItem.type.name == 'AUDIO'}" th:src="${momentItem.url}"></audio>
        </th:block>
      </li>
    </ul> 
  </article>

  <!--  <halo:comment-->
  <!--    th:if="${pluginFinder.available('PluginCommentWidget') && haloCommentEnabled && singlePage.spec.allowComment}"-->
  <!--    group="content.halo.run"-->
  <!--    kind="SinglePage"-->
  <!--    th:attr="name=${singlePage.metadata.name}"-->
  <!--  />-->
</section>
