<!--/* 侧边菜单 */-->
<div class="side-bar">
  <img th:replace="~{modules/components:: lazyLoadImg(${contributor.avatar},${contributor.displayName},'avatar',false,'')}"/>

  <div class="site-data">
    <a class="item" title="文章" href="/archives">
      <h2 class="title">文章</h2>
      <span class="num" th:text="${stats.post}"></span>
    </a>
    <a class="item" href="/categories" title="分类">
      <h2 class="title">分类</h2>
      <span class="num" th:text="${stats.category}"></span>
    </a>
    <a class="item" title="评论" href="javascript:">
      <h2 class="title">点赞</h2>
      <span class="num" th:text="${stats.upvote}"></span>
    </a>
  </div>
  <hr/>

  <menu class="bar" th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
    <th:block th:each="menuItem : ${menuItems}" th:with="isChildren = ${#lists.isEmpty(menuItem.children)} ">
      <li th:if="${isChildren}" class="bar-item">
        <a
          class="link"
          th:href="@{${menuItem.status.href}}"
          th:target="${menuItem.spec.target?.value}"
          th:with="icon = ${#annotations.getOrDefault(menuItem, 'icon','')}"
        >
          <i th:if="${!#strings.isEmpty(icon)}" th:class="${icon}"></i>
          <span class="name" th:text="${menuItem.status.displayName}"></span>
        </a>
      </li>
      <!--/* 二级*/-->
      <li th:unless="${isChildren}" class="bar-item child">
        <a
          class="link"
          href="javascript:void(0);"
          th:with="icon = ${#annotations.getOrDefault(menuItem, 'icon','')}"
        >
          <i th:if="${!#strings.isEmpty(icon)}" th:class="${icon}"></i>
          <span class="name" th:text="${menuItem.status.displayName}"></span>
          <i class="fas fa-chevron-left"></i>
        </a>

        <ul class="bar-children animate__animated animate__fadeIn ">
          <li th:each="children : ${menuItem.children}" class="bar-children--item">
            <a
              class="bar-children--link"
              th:href="@{${children.status.href}}"
              th:target="${children.spec.target?.value}"
              th:with="icon = ${#annotations.getOrDefault(children, 'icon','')}"
            >
              <!--              <i th:if="${!#strings.isEmpty(icon)}" th:class="${icon}"></i>-->
              <span class="name" th:text="${children.status.displayName}"></span>
            </a>
          </li>
        </ul>

      </li>
    </th:block>
  </menu>
</div>

<!--/* 侧边按钮 */-->
<div class="side-btn">
  <button class="button post-toc" type="button" title="文章目录" onclick="ByApp['useRender'].setH5Toc()">
    <i class="fa-sharp fa-solid fa-list-tree" ></i>
  </button>

  <button class="button switch-model" th:if="${theme.config.style.mode == 'user'}" onclick="ByApp.useTheme.toggleMode()" type="button" title="浅色和深色模式转换">
    <i class="fas fa-adjust"></i>
  </button>

  <button class="button back-top" onclick="ByApp.useCommon.backTop()" type="button" title="回到顶部">
    <i class="fa-solid fa-up"></i>
  </button>
</div>

