/**
 * @date: 2023/1/9
 * @author: 小红
 * @fileName: var
 * @Description:  变量
 */

html {
  --code-bg-color: rgba(27, 31, 35, .05);
  --code-color: #ed2929;
  --code-bar-shadow: rgb(144 164 174 / 40%);

  --blockquote-bg-color: rgba(73, 177, 245, 0.1);
  --blockquote-font-color: #6a737d;
  
  --table-t-color: #e3e3e3;
}

html[data-theme=dark] {
  --code-bg-color: #2c2c2c;
  --code-bar-shadow: #191919;

  --blockquote-bg-color: #2c2c2c;
  --blockquote-font-color: rgba(255, 255, 255, 0.7);
  --table-t-color: rgba(255, 255, 255, 0.7);
}

 
 
